[2018-08-02 14:16] apfelbox opened #1 "Publish to npm"
Hi,

I know you're probably busy with setting everything up, but is the plugin ready to be published to npm?
Can you estimate, when the first release will be?

Thanks for your great work 💪

[2018-08-02 14:19] evilebottnawi commented on #1
@apfelbox Today i will do `1.0.0` release :+1:

[2018-08-02 18:04] evilebottnawi commented on #1
Done https://github.com/webpack-contrib/terser-webpack-plugin/releases/tag/v1.0.0 feel free to feedback and report about problems

[2018-08-02 18:04] #1 closed

[2018-08-09 11:10] evilebottnawi opened #3 "In chroot environments `os.cpus()` return undefined"
Original issue https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/337
PR https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/338

[2018-08-20 09:35] edmorley opened #6 "Change 'cache' and 'parallel' defaults to 'true'"
* Operating System: Windows 10
* Node Version: 10.9.0
* NPM Version: N/A (yarn)
* webpack Version: 4.16.5
* terser-webpack-plugin Version: 1.0.2

### Feature Proposal
Currently `terser-webpack-plugin` has the `cache` and `parallel` settings set to `false` by default. I propose that they be changed to `true` by default instead.

### Feature Use Case
webpack 4 already sets those two settings to `tru

[2018-08-20 09:49] evilebottnawi commented on #6
@edmorley It's good practice to turn off these things. Some platform doesn't support `parallel`, cache in some case can output outdated data. You should enable this features if you known what you platform support this.
/cc @michael-ciniawsky What do you think?

[2018-08-20 10:44] edmorley commented on #6
Hi! I agree there may be cases where they should be disabled, however:
* webpack already enables them by default - this proposal only moves the defaults around
* I think the defaults should reflect the common case (where caching and parallelism works/is useful) rather than be held back by the 5% case (which can just disable it if needed)

[2018-08-20 10:55] evilebottnawi commented on #6
@edmorley anyway it is breaking change, and we can change this only in next major release, let's left this open to dicussion

[2018-08-20 11:00] edmorley commented on #6
Versions are cheap to bump - doesn't need to wait for a deadline :-)

[2018-08-20 13:19] michael-ciniawsky commented on #6
I think it is a mistake for `webpack` to enable it be default in the vein of zero config or whatever, we should not enable it be default within the plugin imho and leave it **opt-in** for env where one benefits from parallelism

[2018-09-14 14:54] anton164 opened #15 "Terser vs. UglifyJS - Dramatic Improvements"
Perhaps this belongs in the `terser` repo, but I thought I'd give it a go here.

We're developing a fairly large scale single page application, and we've been experiencing tedious problems with UglifyJS recently - minifying takes up to ~35 minutes, hence we're looking for a better solution.

I just tested out this plugin, and the difference is astonishing. Here are some results:

**Without cache:*

[2018-09-14 15:05] evilebottnawi commented on #15
@anton164 Thanks! Unfortunately nowhere performance are not exists. I heard about increase perf from many developments. Looks guys from `terser` do great job. And yes it is expected, don't worry :smile:

`webpack@5` will use `terser` plugin by default.

My recommendation is switch to `terser` plugin ASAP.

[2018-09-14 15:09] evilebottnawi commented on #15
Also `uglify` plugin right now use `uglify-es` (this package is abandoned and contains a lot of bugs). New version `uglify` plugin switch back to `uglify-js` (https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/352) and it is should to fix these bugs and increase perf also, but **`uglify-js` doesn't support ES6 code**.

[2018-09-14 15:51] anton164 commented on #15
Great, thanks! That gives me the confidence to proceed :)

[2018-09-14 15:51] #15 closed

[2018-09-15 00:13] edmorley commented on #15
Hi!

After seeing this, I tried comparing `terser-webpack-plugin` and `uglifyjs-webpack-plugin` and there was no noticeable speed-up caused by switching.

Is it possible there were other differences?

For example, the default webpack configuration using `uglifyjs-webpack-plugin` also sets `sourcemap: true` if appropriate (which would presumably take longer than if not enabled):
https://github.com/

[2018-09-23 12:57] anton164 commented on #15
Here's my config, which does include source maps:
[code]

I am again experiencing issues, so you're proabably right @edmorley.  I believe my issue is related to https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/272, however it doesn't happen consistently, and the issue with long builds seems to resurface in CircleCI.

[2018-09-25 05:53] kzc commented on #15
This terser [patch](https://github.com/terser-js/terser/pull/51) is responsible for the big speedup in some projects. Details [here](https://github.com/terser-js/terser/issues/50).

[2018-09-28 15:26] jakub-g opened #18 "Plugin should update `contenthash` after minification"
This is a behavior that was probably in place forever with uglify hence it remains with terser as well.

### versions

* webpack Version: 4.20.1
* terser-webpack-plugin Version: 1.1.0

### config

[code]

### Expected Behavior

- When minification is on, `contenthash` of the output files should be different compared to when it is off

### Actual Behavior

- Regardless if minification is on or off,

[2018-09-28 15:31] evilebottnawi commented on #18
@jakub-g sounds intersting, can you provide minimum reproducible repo where contenthash is same for difference content, maybe bug in webpack

[2018-09-28 22:05] michael-ciniawsky commented on #18
[code]

Don't do that as this will add the `uglifyjs-webpack-plugin` (default) to `plugins` behind the scenes (`webpack =< v4.0.0`), it's either `minimize` **or** `minimizer: [ ...plugins ]`

`terser-webpack-plugin` reuses the (original) asset `filename`, so content changes aren't reflected in the `hash` portion of the `filename` at all atm. Not sure if tapping into the related `contentHash` hooks

[2018-09-29 07:59] dreyks commented on #18
@michael-ciniawsky yes plugin should tap into `compilation.hooks.contentHash.tap` to update the hash

[2018-09-29 09:06] michael-ciniawsky commented on #18
Did you try this? According to https://github.com/webpack/webpack/blob/master/lib/Compilation.js#L319 it get the `chunk` passed as an argument which is should already be rendered when the `terser-webpack-plugin` is applied

[2018-10-19 06:54] bryanph opened #20 "Make extractComments API more consistent"
* terser-webpack-plugin Version: 1.1.0

### Expected Behavior / Situation
passing

[code]

should behave the same as
[code]

### Actual Behavior / Situation
The first case makes condition equal `some` and the second case makes condition equal `all`

### Modification Proposal
Modify the second case to also equal `some` (or vice-versa)

[2018-10-19 09:54] evilebottnawi commented on #20
@bryanph it is breaking change and we can't change this right now. We can change this behavior in next major release.

[2018-10-19 09:55] evilebottnawi commented on #18
@dreyks friendly ping

[2018-10-19 10:12] dreyks commented on #18
ugh... no spare time currently sorry

[2018-10-21 18:56] PeterKottas commented on #6
99% percent of people will want to turn these on anyways. 1% that don't want this (and probably builds on some fancy docker images that doesn't work with fs or cpu as we are used to) are probably expert enough to be able to set this to false when they start seeing errors in build pipeline. Note that even for that 1% group, they would probably want cache and parallel on their own PCs. They would on

[2018-10-24 19:01] Pajn opened #21 "Webpack build hangs with parallel: true"
* Operating System: Windows 10 1810, WSL, Ubuntu 18.04
* Node Version: 8.12.0
* NPM Version: 6.4.1
* webpack Version: 4.19.1
* terser-webpack-plugin Version: 1.1.0

### Expected Behavior

That the webpack build completes

### Actual Behavior

The webpack build hangs forever (or at least 30 minutes which is the longest I have lasted) after outputting
[code]

However changing `parallel: true` to `pa

[2018-10-24 19:28] Pajn commented on #21
To set up WSL you need Windows 10, then you should be able to follow this guide https://docs.microsoft.com/en-us/windows/wsl/install-win10

After that you can basically treat is as a normal Ubuntu Linux so install node by following this https://nodejs.org/en/download/package-manager/#debian-and-ubuntu-based-linux-distributions
Git can be installed via `sudo apt install git`

The only consideration

[2018-10-24 19:33] evilebottnawi commented on #21
@Pajn oh, i don't have `windows` 10 right now, can debug this only on next week, feel free to debug problem self. Here default arguments to `work-farm` https://github.com/webpack-contrib/terser-webpack-plugin/blob/master/src/TaskRunner.js#L36, maybe we need improve this check `process.platform === 'win32'` and pass `maxConcurrentCallsPerWorker: 1` on WSL

[2018-10-24 20:10] Pajn commented on #21
You are right that worker-farm is somehow related.
This is what I get from pstree in a stuck build
[code]

Changing that condition so that `maxConcurrentCallsPerWorker: 1` is passed (process.platform is linux) did not help unfortunately.

I tried running the basic example from the worker-farm readme and that worked without hanging so I guess there some problem with file locking.

I'll continue the

[2018-10-25 19:02] Pajn commented on #21
I have four, however the above pstree output is from a run where I limited the number of workers to two, just to see if it did help.

I modified the code so that it would still use `worker-farm` with only one worker, and then it did finish again. I also tried to attach strace to see if I got some hint of the problem but did not find anything useful in the output. If you are interested I can of cou

[2018-10-25 19:12] evilebottnawi commented on #21
@Pajn Feel free to publish outputs

[2018-10-27 15:41] satazor opened #22 "Out of memory"
* Operating System: MacOSX 10.12.6
* Node Version: v11.0.0
* NPM Version: 6.4.1
* webpack Version: 4.23.1
* terser-webpack-plugin Version: 1.1.0

### Expected Behavior

Builds finishes

### Actual Behavior

Crashes with out of memory

### Code

Not applicable

### How Do We Reproduce?

Hard to provide, but it happens on big apps.

-----------------------------

The app I'm working crashes with out

[2018-10-29 09:41] evilebottnawi commented on #22
@satazor sometimes you really have big app and you need increase memory nodejs usage, without minimum reproducible test repo i can't answer what exactly happens, https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/276/files was ported already

[2018-10-29 09:44] satazor commented on #22
I can give you a reproducible test case, I’m flying home but I will provide it once I can, hopefully later today!

[2018-10-29 13:37] satazor commented on #22
For some reason, the project is now compiling! Perhaps I was running a older version of terser.
If this happens again, I will reopen this.

Thanks @evilebottnawi

[2018-10-29 13:37] #22 closed

[2018-10-29 21:49] FranckFreiburger opened #24 "unexpected errors with extractComments + parallel"
I get unexpected errors using extractComments and parallel together.
[code]

I wondering if the issue may come from:
[code]
results is `{"error":{},"extractedComments":[]}`

then:
[code]

if `"error":{}` mean no error, the previous test will always pass

* Operating System: win7
* Node Version: 10.10
* webpack Version: 4.23.1
* terser-webpack-plugin Version: 1.1.0

[2018-10-30 09:21] evilebottnawi commented on #24
@FranckFreiburger Can you create minimum reproducible test repo?

[2018-11-02 13:55] edmorley commented on #18
In addition to the use-case above of upgrading minifier version to fix a minification bug, this issue also affects changing minification options. eg: adjust `terserOptions` and the generated `contenthash` stays the same.

[2018-11-12 21:21] junalmeida opened #26 "Provide Typings"
* Operating System: Windows
* Node Version: 9.8.0
* NPM Version: 6.4.1
* webpack Version: 4.25.1
* terser-webpack-plugin Version: 1.1.0

### Feature Proposal
Please provide Typescript bindings

### Feature Use Case
Use typings when using typescript for configuring webpack.

[2018-11-19 16:36] kouga00 opened #27 "Remove js comments"
Seems it's not possible to remove all comments when build but only extract these.

[2018-11-19 16:57] kouga00 commented on #27
I saw to remove all comments, add terserOption.output.comments to false:
`module.exports = {
optimization: {
      minimize: true,
      minimizer: [
        new TerserPlugin({
          cache: true,
          parallel: true,
          terserOptions: {
            output: {comments: false}
          }
        }),
      ]
    }
},`

[2018-11-20 10:10] evilebottnawi commented on #27
@kouga00 it is expected, because some files can require copyright notation, what mean 'reviewing the documentation to improve this aspect'?

[2018-11-20 10:17] kouga00 commented on #27
I mean in documentation, those particular config is not specified enough (it's so hidden).
Maybe could be useful adding some examples like my config for somebody that needs to remove all comments.

[2018-11-20 10:18] evilebottnawi commented on #27
@kouga00 feel free to send a PR to `Example` section :+1:

[2018-11-22 01:24] AdrienLemaire opened #29 "Error: Cannot find module 'terser'"
* Operating System: Arch Linux, Travis CI, Ubuntu
* Node Version: 10.12.0
* NPM Version: 6.4.1
* webpack Version: 4.26.0
* terser-webpack-plugin Version: 1.1.0

### Expected Behavior
Webpack builds without problem

### Actual Behavior
[code]

### Code

[code]

### How Do We Reproduce?
What I noticed:
* only `terser-webpack-plugin": "1.1.0",` in package.json → fail
* also install `"terser": "3.10.1

[2018-11-23 09:24] #29 closed, assigned to nobody

[2018-11-27 20:16] david-polak opened #31 "Excluding directories does not work"
I can not exclude directories, I tried the usual regexes that work with webpack e.g. `/\/src/` or `/.*templates.*/` and or variations. Apart from `/*/` which should be equivalent to `/\/src/` none of what I tried seems to work.

* Operating System: Linux
* Node Version: v11.2.0
* NPM Version: 6.4.1
* webpack Version: 4.25.1
* terser-webpack-plugin Version: 1.1.0

[2018-11-27 20:18] evilebottnawi commented on #31
@david-polak because `exclude` option use `processed` assets (not sources). It is impossible exclude source modules.

[2018-11-27 20:18] #31 closed

[2018-11-27 20:34] evilebottnawi commented on #31
@david-polak it is impossible. Why? Because webpack bundle your modules in chunks (`js` files) and when pass their through `minificator`. If you find bug in minimicator (i.e. `terser`) better to create issue in https://github.com/terser-js/terser. Why minification don't uses on modules - it is inefficient.

[2018-12-03 02:26] FishOrBear opened #32 "`keep_classnames` ValidationError: Terser Plugin Invalid Options"
webpack 4.26.1
terser-webpack-plugin: 1.1.0

use config:
[code]

error log:

[code]

[2018-12-03 08:51] edmorley commented on #32
Hi! Options related to `terser` (rather than `terser-webpack-plugin` which wraps `terser`), need to go under the `terserOptions` key rather than being placed at the top level.

See:
https://github.com/webpack-contrib/terser-webpack-plugin#terseroptions

[2018-12-03 09:35] FishOrBear commented on #32
Okay thank you

[2018-12-03 09:35] #32 closed

[2018-12-03 14:04] jakub-g opened #33 "Minify `.mjs` files by default"
terser-webpack-plugin Version: 1.1.0 (latest)

### Expected Behavior / Situation
`.mjs` should (perhaps?) be minified

### Actual Behavior / Situation
`.mjs` files are not minified by default due to the default regex: https://github.com/webpack-contrib/terser-webpack-plugin/blob/v1.1.0/src/index.js#L25

### Modification Proposal
Adding dozens of lines of config, one at a time, is never fun.
I thin

[2018-12-03 14:08] evilebottnawi commented on #33
@jakub-g feel free to send a PR with tests

[2018-12-11 14:15] OverVlad commented on #29
I have similar problem when use `npm install` and npm version is 6.4.1

For yarn work fine

Error:
Could not list contents of `project/node_modules/.bin/terser-webpack-plugin/node_modules/.bin/terser'. Couldn't follow symbolic link.`

[2018-12-15 23:30] sunwukung opened #34 "Implicit globals incorrectly declared as block scope variables after minimisation"
* Operating System: Windows
* Node Version: 8.10.0
* NPM Version: 5.6.0
* webpack Version: 4.2.6
* terser-webpack-plugin Version: 1.1.0

### Expected Behavior

I'm slightly paraphrasing here - hopefully you'll be able to understand the problem from
my example below.

before
[code]

after minification

[code]

### Actual Behavior

after minification
[code]

### How Do We Reproduce?

It appears to b

[2018-12-16 21:31] sunwukung commented on #34
I figured it out, I needed to disable `inline` as Terser was encountering the free variable after the comma and creating a scoped variable to catch it.

[2018-12-16 21:31] #34 closed

[2018-12-17 10:50] thw0rted commented on #26
Note that this will also get you intellisense completion / error detection when using VSCode, provided your webpack config has proper type hinting applied (`@type` jsdoc comments, etc)

[2018-12-17 10:52] evilebottnawi commented on #26
Out of scope repo, please create issue in `@types` repo. Example for `uglify` placed here https://www.npmjs.com/package/@types/uglifyjs-webpack-plugin

[2018-12-17 10:52] #26 closed

[2018-12-17 11:05] thw0rted commented on #26
Typings may be maintained either in the package repo or in DefinitelyTyped -- plenty of popular packages aren't written in TS natively but maintain their own typings, like moment, postcss, localforage, ajv, source-map.... Having the DT community maintain typings has advantages, of course, and takes it off your plate, but keeping the typings in your own repo also has upsides you shouldn't dismiss o

[2018-12-17 11:13] evilebottnawi commented on #26
@thw0rted Disagree, we have a lot of plugins and loaders which should have types and it is increase maintenance (and we don't have enough contributors, developers very rare help OSS projects), other developers can use `flow` and we will have to lead these too, also not all developers have knowledge about `typescript` and/or `flow`, so it is should be external.

[2018-12-17 16:00] evilebottnawi commented on #27
Done

[2018-12-17 16:00] #27 closed

[2018-12-19 00:50] FlamesoFF opened #42 "Error after minification: TypeError: Cannot read property 'match' of undefined"
* Operating System: Win 10
* Node Version: 8.11.1
* NPM Version: 5.6.0 (yarn 1.10.1)
* Yarn Version: 1.10.1
* webpack Version: 4.27.1
* terser-webpack-plugin Version: 1.1.0

### Expected Behavior
No errors

### Actual Behavior
`TypeError: Cannot read property 'match' of undefined`

### Code

[code]

### How Do We Reproduce?
add somewhere in code
[code]
and it will cause this error

[2018-12-19 12:22] evilebottnawi commented on #42
@FlamesoFF in future please provide full stack of error, thanks

[2018-12-19 14:53] evilebottnawi commented on #18
Right now, it is impossible change `contenthash` based on `minified` output (because when we optimize files, we already have assets like `my.1a2b3c.js` where `1a2b3c` is content hash), i think we can fix it in `webpack@5` (need internal refactor). But we can update hash based on `minified` version and ``minified` options, ti should solve problem partially

[2018-12-19 15:46] evilebottnawi commented on #21
Guys i try to reproducible problem but i can't, maybe can create really minimum reproducible test repo with really minimum setup?

[2018-12-20 10:23] FlamesoFF commented on #42
@evilebottnawi I added full stack trace.

I say again: it is orking without minification. Read more carefully before answering, please.

[2018-12-20 10:46] evilebottnawi commented on #42
@FlamesoFF error not related to `plugin`, it is related to your code

[2018-12-20 10:46] evilebottnawi commented on #42
We just wrapper around `terser` and don't modify your code

[2018-12-20 11:00] FlamesoFF commented on #42
@evilebottnawi So I need to ask this question in `terser` repository? Because my code stops working ONLY AFTER MINIFICATION.

[2018-12-20 11:05] evilebottnawi commented on #42
@FlamesoFF you just look on you mification code and find what is wrong, if you find what minification doesn't correctly you need create issue in `terser` repo, if you continue oppressive communication i will ignore you.

Also you provide two lines of code and strange error `identity.launchWebAuthFlow` (we don't use `launchWebAuthFlow` in webpack) and it is looks what you written invalid code on yo

[2018-12-20 11:15] FlamesoFF commented on #42
@evilebottnawi Okay, I'll create the issue there.
My communication has come to this form, because you didn't try to make sense of my issue and rushed to close this issue. That's not what I expected.

About `identity.launchWebAuthFlow`, it's not invalid code: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/identity/launchWebAuthFlow

[2018-12-20 12:00] FlamesoFF commented on #42
@evilebottnawi Ok, i'll try. Thank you for help anyway.

[2018-12-20 22:18] jmtt89 opened #45 "Terser Plugin Invalid Options -- chunkFilter"
Documentation Is:
- [ ] Missing
- [ ] Needed
- [ ] Confusing
- [ ] Not Sure?
- [x] Not Working

### Please Explain in Detail...
This Example
[code]

produces this output
[code]

[2018-12-21 09:49] evilebottnawi commented on #45
It is no published yes, release was today

[2018-12-21 09:49] #45 closed

[2018-12-22 15:06] evilebottnawi commented on #18
Partial fixed https://github.com/webpack-contrib/terser-webpack-plugin/pull/44, let's leave the problem open because we need regerate contenthash based on minified output, it is require some change in `webpack`. Now we regenerate `contenthash` when `terser` was updated or `terserOptions` was changed.

[2018-12-23 09:24] Friksel opened #46 "Terser version not updated?"
With Terser being at version 3.13.1 now with some important bugfixes like mangling had some problems, is there a reason terser-webpack-plugin still has terser 3.8.1 as dependency in its package.json?

I tried building a new terser-webpack-plugin dist with an upgrade to the latest terser in the terser-webpack-plugin package.json, but it's missing files to build for some reason. So that doesn't seem

[2018-12-24 10:02] evilebottnawi commented on #46
@Friksel your package manager (`npm`/`yarn`/etc) use cache for `terser`, me recommendation to setup deps bot (example `renovate`) and setup `lock file maintenance` to avoid this problems, we can't increase `terser` version every time he was updated so we use `^` in `package.json`, anyway in future we will update `terser` on each release to avoid problems with caching, thanks for issue

[2018-12-24 10:02] #46 closed

[2018-12-26 21:48] fabiosantoscode opened #47 "Add TERSER_NO_BUNDLE environmental variable to cache keys"
* Operating System: any
* Node Version: any
* NPM Version: any
* webpack Version: any
* terser-webpack-plugin Version: latest

### Feature Proposal

The proposal is to add $TERSER_NO_BUNDLE to the cache keys. When set to 1, it changes the behaviour of terser by reading the source code in lib/ instead of dist/bundle.js

### Feature Use Case

If TERSER_NO_BUNDLE is not part of the cache keys, then e

[2018-12-26 21:49] fabiosantoscode commented on #47
And probably the node version too should be there. When it changes, terser behaviour could change. We often try other node versions to try and isolate an issue better.

[2018-12-26 21:57] fabiosantoscode opened #48 "webpack build freezing when using terser"
* Operating System: linux
* Node Version: @StefanSchoof can you fill this in?
* NPM Version: @StefanSchoof this too
* webpack Version: @StefanSchoof and here
* terser-webpack-plugin Version: @StefanSchoof and here

Sorry for not following the template, but I don't have all the information. @StefanSchoof will come and complete the issue and I'll edit in the information.

### Expected Behavior

The

[2018-12-26 21:59] fabiosantoscode commented on #48
Probably important to mention that this is being run inside a VM.

I'm pretty sure that this is not terser freezing since it has no async code at all.

[2018-12-26 22:12] StefanSchoof commented on #48
Node Version: 10.14.2
NPM Version: 6.4.1
webpack Version: 4.27.1
terser-webpack-plugin Version: 1.1.0

[2018-12-27 04:33] dpogue commented on #48
We've run into this issue too, on macOS High Sierra and Mojave (not in a VM). We fixed it by downgrading `terser` (after stumbling upon https://github.com/terser-js/terser/issues/204).

Node version: 10.14.2
npm version: 6.5.0
Webpack version: 4.28.2
terser-webpack-plugin version: 1.2.0

[2018-12-27 04:36] dpogue commented on #48
Will also add that when I ran into this bug, I tried downgrading webpack to 4.27.1 and also tried downgrading terser-webpack-plugin to 1.1.0. Neither made a difference, the builds would still hang as long as terser itself was upgraded.

[2018-12-27 08:36] Friksel commented on #46
@evilebottnawi Not sure what you're saying exactly. But to be clear: only terser-webpack-plugin uses the terser package which was installed by terser-webpack-plugin. I don't have any problems with npm packages not up to date or anything, it's just terser-webpack-plugin not updating its required terser-package. But do I understand this will be updated from now on by terser-webpack-plugin?

[2018-12-27 09:59] evilebottnawi commented on #48
@StefanSchoof @dpogue what os you use? Please create reproducible test repo

[2018-12-27 10:02] evilebottnawi commented on #47
@fabiosantoscode

Feel free to send a PR, it should be easy.

Can you elaborate?

[2018-12-27 10:20] StefanSchoof commented on #48
My code is at https://github.com/StefanSchoof/espresso/tree/terser/func. The error occurs on the azure pipeline (a Ubuntu 1604  VM in the azure size Standard DS2 v2). I can reproduce on a Ubuntu 1804 VM in azure with the same size.

[code]

[2018-12-27 10:43] StefanSchoof commented on #48
No, this a "real" Linux VMs. I can currently not try on a non VM Linux. So maybe it can occur localy. @fabiosantoscode How was your setup for the repro?

[2018-12-27 12:30] evilebottnawi commented on #48
@StefanSchoof can you try `1.2.0` version?

[2018-12-27 12:55] StefanSchoof commented on #48
I updated to 1.2.1 and some minutes I cancelled locally. The Build still runs at https://dev.azure.com/sschoof/espresso/_build/results?buildId=363 (function job) I think it will run again hit the 60min limit.

[2018-12-27 13:00] evilebottnawi commented on #48
@StefanSchoof Can you try downgrade `terser` (change resolution if you use `yarn` or change version in lock file)? We need find place where it is broken, if downgrade helpt o you i think problem in terser and we continue search problem in terser.

[2018-12-27 13:34] evilebottnawi commented on #48
@StefanSchoof hm, i think problem is not part of `terser` plugin because we did not changed logic for a long time, we just run `terser` in multi threading. If downgrading help to you problem on `terser` side or in your environment.

Anyway let's debug this. We need manually setup `terser-webpack-plugin` and disable `cache` and `parallels`.

Try:
[code]

[2018-12-27 14:13] StefanSchoof commented on #48
With this options the problem still occurs.

Is there an way to see the used terser options?
If I run:
[code]
All works. Maybe the webpack plugin set a option which triggers the problem.

[2018-12-27 14:16] evilebottnawi commented on #48
@StefanSchoof you can try https://github.com/webpack-contrib/terser-webpack-plugin#minify, just use `terser` instead `uglify-module` and avoid all options or setup only needed

[2018-12-27 15:43] StefanSchoof commented on #48
I take a look into the minify.js and changed the code to extract options and the input. With this I could write a repro without webpack. Think this bug should continue at https://github.com/terser-js/terser/issues/204

[2018-12-27 15:44] StefanSchoof commented on #48
Thanks for all the quick help.

[2018-12-27 15:45] evilebottnawi commented on #48
@StefanSchoof So we can close issue here?

[2018-12-27 15:48] StefanSchoof commented on #48
I think yea. I like to hear from @fabiosantoscode if he see things the same.

[2018-12-28 19:31] evilebottnawi commented on #47
@fabiosantoscode we should invalidate cache of `node` version was changes?

[2018-12-28 19:34] fabiosantoscode commented on #48
Let's do that. I'll work on this tomorrow. Thanks for the help @evilebottnawi

[2018-12-28 19:34] #48 closed

[2019-01-01 12:08] hugetiny opened #51 "Cannot mangle after add mangle option"
* Operating System:MacOS 10.13.6
* Node Version:10.13.0
* NPM Version: latest
* webpack Version:4 ( latest )
* terser-webpack-plugin Version:1( latest )

### Expected Behavior

mangled

### Actual Behavior

not mangled

### Code

[code]

### How Do We Reproduce?

https://github.com/electron-react-boilerplate/electron-react-boilerplate.git
replace the webpack prod configs with code above

[2019-01-04 23:22] VikramTiwari opened #53 "Update terser"
To fix: https://github.com/terser-js/terser/issues/120

[2019-01-09 10:43] evilebottnawi commented on #53
Update your deps, no need release patch version on each new release `terser`

[2019-01-09 10:43] #53 closed

[2019-01-10 15:48] jakub-g commented on #18
@evilebottnawi thanks for picking this, I updated the plugin to 1.2.1 and indeed it solves the cases you mentioned.

Should I open a linked ticket on a webpack repo for the refactor you mentioned?

[2019-01-10 16:02] evilebottnawi commented on #18
@jakub-g it is already in todo, maybe we solve this problem for `webpack@5` :+1:

[2019-01-11 08:07] cs09g opened #55 "babel-loader with regex property on mangle doesn't work correctly"
* Operating System: Windows 7
* Node Version: v10.13.0
* NPM Version: 6.4.1
* webpack Version: 3.10.0
* terser-webpack-plugin Version: 1.2.1

### Expected Behavior
when `mangle` is set, the codes should be mangled both on declaration and usage part.

### Actual Behavior
the code is mangled only on usage part.

### Code

[code]

### What it looks like
![image](https://user-images.githubusercontent.

[2019-01-11 11:23] evilebottnawi commented on #55
@cs09g better ask this question in `terser`, we just wrapper, create issue with original code in `terser` repo.  Thanks!

[2019-01-11 11:23] #55 closed

[2019-01-12 00:17] chiqui3d opened #56 "impossible to keep the name of a function"
I can not save the name of a function, these are my options

[code]
Why don't we have the option reserved in compress?

any idea?

[2019-01-14 11:09] arpu opened #57 "[Question] how do remove console.log"
* Operating System:
* Node Version: 11
* NPM Version: 6
* webpack Version: 4
* terser-webpack-plugin Version:  master

### Feature Proposal
remove console log

### Feature Use Case
 remove console.log in production like it was possible with uglify webpack plugin

[2019-01-14 11:43] arpu commented on #57
tesing with
[code]

but no sucess :/ anyone an idea?

[2019-01-14 11:43] evilebottnawi commented on #57
@arpu better ask this question in `terser` repo, we just wrapper around this tool

[2019-01-14 11:43] #57 closed

[2019-01-14 11:47] evilebottnawi commented on #56
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Use `keep_fnames` (true) you can see example here https://github.com/terser-js/terser#minify-options-structure

[2019-01-14 11:47] #56 closed

[2019-01-14 11:57] arpu commented on #57
@evilebottnawi  ok thx  but would be good if anyone knows how to use the regex to remove the console log

[2019-01-14 12:05] evilebottnawi commented on #57
@arpu `extractComments` option not for remove `console.log`

[2019-01-14 12:07] arpu commented on #57
ah ok thx, looks like terser has drop_console setting

[2019-01-14 12:11] evilebottnawi commented on #57
@arpu feel free to send a PR to `README` in `Example` section

[2019-01-14 12:20] arpu commented on #57
for reference this works for me
[code]

@evilebottnawi  thx for your time and pointing me to the right direction

[2019-01-15 22:52] splatteredbits opened #58 "Cache filenames can cause "path too long" errors on Windows"
* Operating System: Windows 2012/10
* Node Version: 10.14.1
* NPM Version: 6.4.1
* webpack Version: 4.27.1
* terser-webpack-plugin Version: 1.1.0

### Expected Behavior / Situation
Unfortunately, Windows has a maximum path length of 260 characters. I'd like to see the terser-webpack-plugin cache files with names friendlier to Windows' file system.

### Actual Behavior / Situation
Files in the cach

[2019-01-16 08:18] evilebottnawi commented on #58
We use `cacache` package (https://github.com/zkat/cacache) please report about this problem in `cacache` repo, also you don't need deploy `.cache` directory on `production`

[2019-01-16 08:18] #58 closed

[2019-01-16 19:49] StephenWeatherford opened #59 "keep_classnames and keep_fnames missing from TypeScript definition file"
* Operating System: N/A
* Node Version: N/A
* NPM Version: N/A
* webpack Version: 4.28.1
* terser-webpack-plugin Version: 1.2.1

### Expected Behavior

No typescript warnings in webpack.config.js file

keep_classnames and keep_fnames should be defined in typescript definition file but are not:

export interface MinifyOptions {
    spidermonkey?: boolean;
    outSourceMap?: string;
    sourceRoot?:

[2019-01-17 09:35] evilebottnawi commented on #59
Out of scope plugin, all types should be in `DefinitelyTyped` repo, please create issue in `DefinitelyTyped` repo

[2019-01-17 09:35] #59 closed

[2019-01-18 20:32] LuisAverhoff opened #62 "Issue with Edge not respecting TerserOptions"
I have a piece of code that relies on function.prototype.name like so

[code]

Initially my terser options didn't set keep_fnames to true and that caused my web application in both chrome and edge to not function properly. Now it looks like this.

[code]

And now the function name does not get mangle in chrome but still somehow gets mangled in edge even with keep_fnames set to true. I did find a s

[2019-01-18 20:34] evilebottnawi commented on #62
@LuisAverhoff please use issue template

[2019-01-18 20:34] #62 closed

[2019-01-22 08:32] charsleysa commented on #21
@evilebottnawi you should be able to recreate this by compiling the an Angular demo app (any should do) with `aot` and `optimization` flags turned on.

I get this issue where the TerserPlugin seems to hang with a lot of node processes showing in Task Manager.

[2019-01-22 08:36] evilebottnawi commented on #21
@charsleysa can you provide instruction for minimum reproducible test repo?

[2019-01-22 09:12] charsleysa commented on #21
@evilebottnawi it seems to be something to do with having a project sufficiently large enough producing source maps on a production build.

The following instructions assume you have already setup WSL with Node 10.x (node inside WSL) using standard setup instructions. The below instructions are executed inside bash.

1) clone this repo https://github.com/formio/angular-demo
2) cd into the cloned r

[2019-01-22 09:15] evilebottnawi commented on #21
@charsleysa thanks for instructions, anyway feel free to investigate problem(s), i think problem inside `worker-farm`, maybe you can find problem faster than i can, because i need time to setup WSL

[2019-01-29 05:25] bluelovers opened #63 "minimize bug when same varname at diff context"
* Operating System:
* Node Version:
* NPM Version:
* webpack Version:
* terser-webpack-plugin Version:

### Expected Behavior

### Actual Behavior

### Code

project
https://github.com/bluelovers/ws-novel-vue

terser config
https://github.com/bluelovers/ws-novel-vue/blob/a4912c6bb8960db0036d06b41a92bc003e220e0a/vue.config.ts#L45-L80
[code]

when var name is `a` will fail at `source = a.join('');`

[2019-01-29 09:09] evilebottnawi commented on #63
@bluelovers thanks for issue, but problem not on our side, please create issue in terser repo, we just wrapper around this tool, thanks!

[2019-01-29 09:09] #63 closed

[2019-02-01 12:34] Lonniebiz opened #64 "let versus var Treeshaking Issue Caused By Terser"
* Operating System: Ubuntu 16.04.5
* Node Version: v10.14.2
* NPM Version: 6.70
* webpack Version: 4.29
* terser-webpack-plugin Version: 1.10

I've been advised that a Tree-shaking issue I'm having in Webpack may be being caused by terser:
https://github.com/webpack/webpack/issues/8692#issuecomment-459683396

If you scroll up from that comment, you can see the entire issue.

I'm I submitting this

[2019-02-01 13:02] evilebottnawi commented on #64
@Lonniebiz no, tree shaking it is part of `webpack`, we just wrapper around `terser`, you can look source code and find what we do nothing only call `terser`

[2019-02-01 13:02] #64 closed

[2019-02-01 13:36] Lonniebiz commented on #64
When I turn on terser's warnings option, I do see that terser is responsible for dropping unused functions and that's what tree-shaking is all about, right?

[2019-02-01 13:55] evilebottnawi commented on #64
@Lonniebiz https://github.com/webpack/webpack/issues/8692#issuecomment-459683396, please create issue in terser repo

[2019-02-02 17:09] arpu opened #65 "since terser@3.16.0 i get TypeError: Cannot read property 'minify' of undefined"
looks like since today terser update i get

ERROR in vendor.28ab9f9d78fdd25b0ab0.bundle.js from Terser
TypeError: Cannot read property 'minify' of undefined
    at minify (/home/arpu/Work/projects/vrspace/node_modules/terser-webpack-plugin/dist/minify.js:175:23)
    at module.exports (/home/arpu/Work/projects/vrspace/node_modules/terser-webpack-plugin/dist/worker.js:13:40)
    at handle (/home/arp

[2019-02-02 17:11] pitops opened #66 "Terser v3.16.0 breaks terser-webpack-plugin"
The latest terser update (released an hour ago) breaks this plugin.

* Operating System:
* Node Version: 10.12.0
* NPM Version: 6.4.1
* webpack Version: 4.29.0
* terser-webpack-plugin Version: 1.2.1

### Expected Behavior

Terser to minify my code

### Actual Behavior

[code]

### How Do We Reproduce?

Delete yarn.lock

Install terser-webpack-plugin and try to run a production build where the plug

[2019-02-02 17:15] pitops commented on #65
@arpu It seems we opened the issue at the same time. Seem #66 for a possible workaround until its fixed (if you are using yarn)

[2019-02-02 17:25] Xanngo opened #67 "Simplest webpack build crash"
* Operating System: Linux Mint 19
* Node Version: v10.5.0
* NPM Version: 6.1.0
* webpack Version: 4.29.0
* terser-webpack-plugin Version:terser-webpack-plugin@1.2.1

### Expected Behavior

Simplest webpack app should be able to build.

### Actual Behavior

Fails with error:

[code]

### Code

[code]

### How Do We Reproduce?

On an empty folder run the following:

`$ npm init -y`
`$ npm i webpack

[2019-02-02 17:33] kurtinatlanta commented on #66
I added console logging locally and the `_terser` object is empty (`{}`) at the point where it's trying to do this:
[code]

`_terser.default` is undefined and therefore it can't dereference `_terser.default.minify`.

I assume the `terser` folks must have changed something such that
[code]
no longer gets the right object.

[2019-02-02 17:53] Xanngo commented on #66
I changed `_terser.default.minify` to `_terser.minify` and it works

[2019-02-02 17:53] odedi commented on #66
https://github.com/rogeriochaves/npm-force-resolutions
for npm

[2019-02-02 20:37] devanshbatra04 opened #68 "terser is undefined?"
* Operating System: Ubuntu 16.04
* Node Version: v9.10.0
* NPM Version: v5.6.0
* webpack Version: v4
* terser-webpack-plugin Version: v1.1.0

### Expected Behavior

This should not happen, the build should work as expected.

### Actual Behavior
I try to run the angular build, this set of errors props up, pretty sure it's related to terser. I looked up the ```dist/minify.js``` apparantly ```_terser

[2019-02-02 20:49] kasparsd commented on #68
I'm getting the same issue. Here is a sample [Travis CI run](https://travis-ci.com/kasparsd/burti/jobs/174893751).

[code]

[2019-02-02 20:53] kasparsd commented on #68
Appears to be a duplicate of #67.

[2019-02-02 20:54] pitops commented on #68
See #66 for a workaround

[2019-02-02 20:59] #68 closed

[2019-02-02 21:51] filipesilva commented on #66
https://github.com/terser-js/terser/pull/254 should address this.

[2019-02-02 22:43] huochunpeng commented on #66
Even without any work from terser, you can fix the code in the repo, defensively support both terser 3.16 (esm) and old versions (commonjs).

[code]

[2019-02-02 22:51] vladimiry commented on #66
@huochunpeng the point is that `terser` made a breaking change without bumping the major version, but just v3.14.1 => v3.16.0. Besides worth taking into the account that it's not just `terser-webpack-plugin` depends on `terser` but [many other libraries](https://github.com/terser-js/terser/network/dependents) too.

[2019-02-02 22:53] huochunpeng commented on #66
@vladimiry you are right, I understand. I just offer a solution for this repo instead of waiting terser to fix the backward compatibility.

[2019-02-02 22:53] kopax commented on #66
Sometimes bad things happen.

[2019-02-02 22:54] vapurrmaid commented on #66
Thanks ❤️ , verified for me running `npm run build` with:

[code]

[2019-02-02 23:06] csvan commented on #66
Fix has been implemented: https://github.com/terser-js/terser/pull/254

[2019-02-02 23:07] csvan commented on #67
Fix has been implemented: https://github.com/terser-js/terser/pull/254

[2019-02-03 05:07] Dynogic commented on #66
Yikes, looks like next.js is broken too 😨

[2019-02-03 10:41] Tunc88 commented on #66
In my case it was _terser2.default.minify and it works also fine for me.

[2019-02-03 10:45] Tunc88 commented on #66
In my case it was _terser2.default.minify and it works also fine for me.

[2019-02-03 11:01] Hendrykes commented on #66
A bug in terser 3.16 which was released hours ago.
For npm users: run npm i terser@3.14
For yarn users: add the following field to package.json and then rerun yarn:

[code]

[2019-02-03 12:16] bendg25 commented on #67
Any ETA on this, the suggested workaround is not ideal and this is preventing me from doing a release.

[2019-02-03 12:35] TomCosta commented on #66
Solution:
`npm install terser@3.14.1 --save-dev`
For me it solves!

[2019-02-03 12:46] sgehrman commented on #67
just hit this too...

[2019-02-03 12:46] sameera207 commented on #66
@TomCosta , I literally had this issue about 15 mins ago for an ionic 4 project. Found your solution, which you posed about 10 mins ago and worked perfectly, thanks :)

[2019-02-03 12:58] dodanex commented on #66
Hello guys, the same problem for me when running nuxt generate, now I fixed using @TomCosta solution `npm install terser@3.14.1 --save-dev`, so thanks.
Hope this problem will be fixed in the future.

[2019-02-03 13:02] sorxrob commented on #66
Running `npm install terser@3.14.1 --save-dev` fixed my Nuxt `npm run build` too. Thank you.

[2019-02-03 14:04] edwardzhong commented on #67
my project also like this！

[2019-02-03 15:03] TrySound commented on #66
FYI rollup plugin is not broken :)
https://github.com/TrySound/rollup-plugin-terser/blob/master/transform.js#L1

[2019-02-03 16:00] mrmckeb commented on #66
This is also affecting Create React App. See https://github.com/facebook/create-react-app/issues/6334.

[2019-02-03 16:34] csvan commented on #67
Several workarounds have already been mentioned, please follow the relevant links.

[2019-02-03 18:22] vladimiry commented on #66
One more instance of default exports should not be used at all, in my opinion.

[2019-02-03 20:06] ksharlandjiev commented on #66
For everyone who are worried of their broken builds, here is a simple (temporary) fix, until this is fixed:
1) edit package-lock.json
2) locate: "terser-webpack-plugin" and inside it's tree: change: "terser": "^3.8.1", to "terser": "3.14.1"

Cheers

[2019-02-03 20:37] ksharlandjiev commented on #66
@cezarsmpio:
Install terser 3.14.1 as a separate dependency and update your package-lock
I’m running this on a pure react app, but it should also work for next.js
Also try to check the dependency tree when running your build to check if other dependency is installing terser 3.16.
If this is the case, again locate in your lock file and force downgrade do 3.14.1
Remember to remove the ^ in front of

[2019-02-03 20:58] cezarsmpio commented on #66
Needed to use yarn instead of npm, here is what I've done as a temp fix:

1. Delete your package-lock.json
2. Add to your package.json
[code]
3. `npm install terser@3.14.1 --save-dev`
4. Deploy

[2019-02-04 06:47] mdix commented on #66
When doing the above trick, make sure to install the exact version (`--save-exact`) or else you'll end up with a broken first level dependency:

`npm install terser@3.14.1 --save-dev --save-exact`

[2019-02-04 07:44] anujladia commented on #66
@mdix I am not using terser library directly in my package.json.
Third party libraries are using terser, so will this change help me be able to build my web app correctly?

[2019-02-04 07:52] ksharlandjiev commented on #66
@anujladia check my suggestion, I was also with the same case.
Install terser 3.14.1 locally with —save-dev, modify package-lock and specify 3.14.1 and not anything else starting with ^ for any package using it

[2019-02-04 08:05] anujladia commented on #66
@ksharlandjiev Hey thanks. But I have another quick question
We ignore sending the package-lock to git from where it gets build and deployed
So from now on should I send my package-lock everytime it is being pushed so that it always uses this package-lock.json rather than building it again on Gitlab and recreating it??
I never worked on package-lock. So have no idea about it

[2019-02-04 08:06] sokra commented on #66
Yes package-lock.json resp. yarn.lock should be commited and pushed.

[2019-02-04 08:13] ksharlandjiev commented on #66
@anujladia, this is a side topic, but yes lock files should be added to prevent exactly this kind of scenarios with build processes

[2019-02-04 08:13] sokra commented on #66
To summarize it: Everybody that gets a CI failure on the master branch or an error on production, probably didn't commit the lockfile. That's not how lockfiles work. They are there to fix your dependencies, so every dependency upgrade need to be done manually* in a PR, which is reviewed and tested by CI. This way no broken release (which happen, because everyone makes mistakes) could every break y

[2019-02-04 08:13] vladimiry commented on #66
@anujladia if you build something on CI servers (Travis, Gitlab, etc) using npm consider executing `npm ci` there instead of `npm install`.

[2019-02-04 08:33] riksnelders commented on #66
I'm getting a build error still using 3.14.1 from terser..
 Error: CSS minification error: Cannot read property 'type' of undefined. File: css/app.8384d281.css

[2019-02-04 09:31] kopax commented on #66
@bendg25 it is `terser` plugin that cause to be block, or this plugin directly. `terser` as updated the way it exports it's file. This plugin needs or `terser` needs to provide backward compatibility. It is nothing related to angular.

[2019-02-04 09:33] bendg25 commented on #66
@kopax I don't directly include the terser plugin in my package.json.  So what is bringing this dependency into my scope?

[2019-02-04 09:39] ksharlandjiev commented on #66
@bendg25 look at your package-lock.json and search for "terser".
I have suggested a fix somewhere up in the comments.

[2019-02-04 09:42] csvan commented on #66
@bendg25 webpack uses the terser plugin by default unless you override it and use something else for minification.

[2019-02-04 10:41] kopax commented on #66
@bendg25 run `npm ls terser` in your project. That doesn't mean that your `package.json` doesn't have a dependency named `terser` that one of your dependency doesn't have it in it's `package.json` dependencies. And this is done in chain through all your dependencies.

[2019-02-04 10:56] evilebottnawi commented on #67
Duplicate https://github.com/webpack-contrib/terser-webpack-plugin/issues/66

[2019-02-04 10:56] #67 closed

[2019-02-04 10:58] bendg25 commented on #66
@kopax so I have this: ─┬ @angular-devkit/build-angular@0.11.4
│ └─┬ terser-webpack-plugin@1.1.0
│   └── terser@3.16.0  deduped
└── terser@3.16.0

Fix suggested by @ksharlandjiev does not work for me, as my release process runs npm install from a clean box.

[2019-02-04 11:00] evilebottnawi commented on #66
WIP on this

[2019-02-04 11:02] Carbammato commented on #66
With Angular 7, I updated my package-json to add:
`"Terser": "3.14.1" `
in the section `devDependencies`.

It's a workaround, but helps me to avoid that CI tries to download the latest version available (in my company, we don't push the `package-lock.json` in source control).

Hope this might help out while we wait for a proper solution. I'm following the thread.

[2019-02-04 11:08] ksharlandjiev commented on #66
@kopax :
1) clone everything locally, run npm install
2) follow my guide: install terser@3.14.1,  edit package-lock.json and pin 3.14.1 everywhere you can find it.
3) commit package-lock.json to your repository.

run your build!
your build process and npm install will follow versions "locked" into your lock file.
That is why it is important to have this into your repository and available for any C

[2019-02-04 11:09] evilebottnawi commented on #66
/cc @fabiosantoscode hopefully you add tests on this regressions, it is break webpack for many developers

[2019-02-04 11:09] #66 closed

[2019-02-04 11:11] alasdairhurst commented on #66
@ksharlandjiev package-lock is generally quite good for applications but not libraries (since you won't be testing and building using the same dependencies that users of your library will end up with)

[2019-02-04 11:23] vladimiry commented on #66
Locking the dependencies is useful even for libraries as it makes the build process reproducible.

[2019-02-04 12:09] kopax commented on #66
Locking the dependencies is not that useful for libraries. You rather want to see things break in your CI and be warned about it. If you must lock your dependency to a certain dependencies, this should be the way to go.

[2019-02-04 12:16] sidag95 commented on #66
Awesome @pitops the workaround works, thanks

[2019-02-04 12:16] manniL commented on #66
https://github.com/terser-js/terser/issues/251

Resolved

[2019-02-04 13:11] evilebottnawi commented on #67
Fixed in https://github.com/webpack-contrib/terser-webpack-plugin/releases/tag/v1.2.2

[2019-02-06 11:07] afide1 commented on #66
"Thank you!"

[2019-02-06 11:48] Lonniebiz commented on #64
https://github.com/terser-js/terser/issues/249

[2019-02-06 13:32] pitops commented on #66
@afide1 Hey, its been fixed, all you need to do is update terser-webpack-plugin to v1.2.2 +

[2019-02-11 22:09] stevenvachon opened #71 "Map sourceMap to devtool"
* Operating System: macOS 10.14.2
* Node Version: 10.15.0
* NPM Version: 6.4.1
* webpack Version: 4.29.3
* terser-webpack-plugin Version: 1.2.2

### Feature Proposal
Currently, the `sourceMap` option must be explicitly defined when it'd be much more convenient for it to rely on the value of Webpack's `devtool` option.

### Feature Use Case
Less verbose config

[2019-02-12 09:32] evilebottnawi commented on #71
PR welcome

[2019-02-25 08:59] dandrei commented on #6
Does this happen often? It sounds like it would make the `cache` option unusable. Any way to avoid it?

[2019-02-25 09:23] evilebottnawi commented on #6
@dandrei yep, we are working on this, problem only on `WDS` (in other cases it is safe)

[2019-02-25 09:30] dandrei commented on #6
That's `webpack-dev-server`, right? Then it's safe to have the `cache` flag conditional?

     const dev = process.env.NODE_ENV !== "production";

     new TerserPlugin({
         cache: !dev,
     }),

[2019-02-25 09:32] evilebottnawi commented on #6
@dandrei no, my typo `WSL` https://docs.microsoft.com/en-us/windows/wsl/install-win10, also be default terser doesn't use in development mode

[2019-02-25 11:09] evilebottnawi commented on #47
/cc @fabiosantoscode now re respect node version, feel free to send a PR with `TERSER_NO_BUNDLE` env (it is feature)

[2019-02-26 14:03] roblan opened #73 "optimized function changes behavour"
* Operating System: Mac OS
* Node Version: 11.9.0
* NPM Version: 6.8.0
* webpack Version: 4.29.5
* terser-webpack-plugin Version: 1.2.3

### Expected Behavior

function should behave like non minimized one.

### Actual Behavior

Terser plugin overoptimize function and changes it return params.

### Code

[code]

### How Do We Reproduce?

https://github.com/roblan/webpack_terser_bug/tree/master

[2019-02-26 14:54] evilebottnawi commented on #73
We just wrapper around `terser`, please post issue in `terser` repo

[2019-02-26 14:54] #73 closed

[2019-02-26 15:29] roblan commented on #73
@evilebottnawi - but code parsed through terser works just fine

[2019-02-26 15:34] evilebottnawi commented on #73
@roblan we don't change code, only send to terser and return, maybe other plugin do this

[2019-02-26 15:36] roblan commented on #73
@evilebottnawi have you looked into provided example? only difference is `minimizer: [new TerserPlugin()]` in webpack config

[2019-02-26 15:43] evilebottnawi commented on #73
@roblan yes, and as i said above we don't change you code, all optimization do `terser`, if some optimization break code or do something wrong please post issue in `terser` repo https://github.com/terser-js/terser

[2019-02-26 15:46] roblan commented on #73
ok, thanks. just realised that flags --compress --mangle makes all the difference here

[2019-02-27 23:49] etripier opened #74 "Webpack v3 support"
First off: I'm a huge fan of the plugin and Terser in general. It's always nice when things run faster and produce better results.

### Feature Proposal
I know the issue title is probably going to elicit some groans, but it doesn't _seem_ like much is preventing this plugin from working on Webpack v3. I think it might just involve modifying the `index` file like so:

[code]

We'd lose out on the `

[2019-03-04 08:24] evilebottnawi commented on #74
@etripier we officially don't support `webpack@3`, anyway you can send a PR and we can release this under `terser-webpack-plugin-legacy` name with supporting `webpack@3`. Anyway we strongly recommendation update `webpack`, because `webpack@5` will have some changes and it was incompatibility with `webpack@3`

[2019-03-04 11:33] andreialecu commented on #21
WSL is becoming more and more popular. I'm seeing the same problem as well and can confirm that `parallel: false` works. If #6 is applied to make parallel the default, then this needs to be fixed first.

[2019-03-04 11:37] evilebottnawi commented on #21
@andreialecu can you investigate why it is happens? Don't have WSL around and don't have windows machine near, maybe you can find problem

[2019-03-04 12:51] andreialecu commented on #21
I've been digging at it and from my initial findings it seems like this callback is never ran:

https://github.com/webpack-contrib/terser-webpack-plugin/blob/master/src/TaskRunner.js#L74

However, the task itself and the code in `minify.js` is called, and is returning properly. I'm trying to investigate why it never gets there now. I suspected it would be a problem in `worker-farm` but the example

[2019-03-04 12:53] evilebottnawi commented on #21
@andreialecu yep, problem in `worker-farm`, maybe we need to setup more options (https://github.com/webpack-contrib/terser-webpack-plugin/blob/master/src/TaskRunner.js#L34) for WSL

[2019-03-04 12:53] evilebottnawi commented on #21
What is `process.platform` on WSL?

[2019-03-04 12:54] andreialecu commented on #21
But like I said, `worker-farm`'s tests entire test suite passes properly.

[2019-03-04 13:16] andreialecu commented on #21
Further progress on debugging this, it seems like the forked process' `on('message')` handler in `worker-farm` is never called when running with this plugin on WSL:

https://github.com/rvagg/node-worker-farm/blob/master/lib/farm.js#L145

However, when running `worker-farm` outside of this scenario, it **is** called. I verified using this: https://github.com/rvagg/node-worker-farm/tree/master/examp

[2019-03-04 13:53] andreialecu commented on #21
I think I found the root cause.

It is related to the length of the result being passed from the worker process back to the farm via `process.send()`. If I make it send a simple `'hello'` instead of the entire minified script result it seems that all callbacks are called.

Making this callback with a shorter string results in all callbacks working:
https://github.com/webpack-contrib/terser-webpack

[2019-03-04 14:02] evilebottnawi commented on #21
@Pajn Maybe some characters break this :confused:

[2019-03-04 14:18] andreialecu commented on #21
@evilebottnawi Well, I just tested that by dumping the objects returned by the `minify()` worker functions to local `.json` files then trying to read each of them in simple workers in the basic example above, and then pass them on to the main process. Everything worked.

I'm stumped.

Perhaps someone can take over. Running out of time assigned to this right now.

[2019-03-04 14:26] evilebottnawi commented on #21
weird :confused:

[2019-03-05 12:49] andreialecu commented on #21
A possible workaround for this would be to save all minified scripts to temp files from the worker and call back with the path to the temp files, then load them back in the master. This would probably fix it. How would you feel about this?

[2019-03-05 13:06] evilebottnawi commented on #21
@andreialecu as workaround sounds good, but will be great find real problem why it is doesn't work as expected, maybe bug in `WSL` and we should report about this bug. Because on `macos`/`linux`/`windows` without WSL it is works as expected. So i think problem in `WSL`. If problem won't fix we implement workaround. Write files in temp directory decrease perf and it is not good.

[2019-03-05 15:03] joewood commented on #21
When this works through a workaround, is the temp directory in **/tmp** or is it under **/mnt/c/** ? I'm wondering if this is a file system related bug.

[2019-03-05 15:05] andreialecu commented on #21
On WSL:

[code]

[2019-03-05 15:09] joewood commented on #21
I wonder if this fails under **/mnt/c/Users/[windowsuser]/temp** - which is (usually) NTFS.

[2019-03-05 15:16] evilebottnawi commented on #21
@joewood maybe somebody has image for virtualbox with installed WSL?

[2019-03-05 15:22] joewood commented on #21
I can try later today on my regular machine as I'm seeing this issue too. I suspect this is a WSL bug, the idea of trying on the different disk formats is to compare on the WSL formatted disk vs. regular NTFS (which has some differences).

[2019-03-05 16:03] evbo opened #76 "What are the implications of setting "cache" to true?"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [ ] Confusing
- [x] Not Sure?

### Please Explain in Detail...
Please just add a 1 liner explaining what a "cache" is in the context of minification.

In general I know what a cache is - some (local) storage of files/data to reuse for avoiding redundant regeneration of (if no changes exist) for faster build times. But if there were only benefits to a

[2019-03-05 16:13] evilebottnawi commented on #76
@evbo

Some platform/os doesn't support filesystem (use memory instead) so you should setup this to `true`. We setup this as `true` by default for next major release. Also some people disable cache for CI (it is allow calculate first build time and for other cases).

We can't say how it is improve build speed, it is depends on you system (filesystem) and hardware. 99% it is speed build, but in som

[2019-03-05 19:40] andreialecu commented on #21
The problem is with interprocess communication not with anything file system related. /tmp isn't used. It was just a suggestion I made to use as a workaround so it is just hypothetical at this point.

I could not reproduce the error outside of webpack so I'm still not sure what the root cause is.

[2019-03-05 19:47] andreialecu commented on #21
Take a look here for Windows VMs: https://developer.microsoft.com/en-us/windows/downloads/virtual-machines

[2019-03-06 09:23] evilebottnawi commented on #21
@andreialecu already work on this, i will put information here

[2019-03-07 10:31] evilebottnawi commented on #76
Feel free to feedback

[2019-03-07 10:31] #76 closed

[2019-03-07 10:32] evilebottnawi commented on #74
Released https://www.npmjs.com/package/terser-webpack-plugin-legacy

[2019-03-07 10:57] #74 closed

[2019-03-07 19:00] jondlm opened #78 "Unused tagged template literals produce invalid minified code"
* Operating System: macOS 10.12.6
* Node Version: v10.14.2
* NPM Version: 6.8.0
* webpack Version: 4.29.6 (bug first appeared in 4.26.0 with the switch to terser)
* terser-webpack-plugin Version: 1.2.3

### Expected Behavior

Webpack production mode emits valid javascript that can be executed by a browser. E.g.

[code]

### Actual Behavior

Webpack production mode is emitting invalid javascript. S

[2019-03-10 15:05] NeeEoo opened #79 "Function call disappear if there is a comment above it"
* Operating System: Windows 10
* Node Version: v10.9.0
* NPM Version: 6.4.1
* webpack Version: 4.29.6
* terser-webpack-plugin Version: 1.2.3

### Expected Behavior

The registerCmd function call should not disappear when there is a comment above it

### Actual Behavior

The registerCmd function call disappears from the output

### Code

[code]

[code]

### How Do We Reproduce?

Cannot provide a re

[2019-03-10 15:36] NeeEoo commented on #79
I found why the function call disappears it is because the old code comment had #__PURE__ so the function call became pure

[2019-03-11 10:21] evilebottnawi commented on #79
We just wrapper around `terser` (https://github.com/terser-js/terser), if you think it is bug please open issue in their repo, we can't do something on our side (we don't modify your code, just send this code to `terser` and return output), thanks!

[2019-03-11 10:21] #79 closed

[2019-03-11 10:26] evilebottnawi commented on #78
We just wrapper around `terser` (https://github.com/terser-js/terser), if you think it is bug please open issue in their repo, we can't do something on our side (we don't modify your code, just send this code to `terser` and return output), thanks!

[2019-03-11 10:26] #78 closed

[2019-03-11 17:21] jondlm commented on #78
Sounds good. I'll try a bit harder to reproduce the issue in terser. I didn't try taking the entire output from webpack and using that as a test case over there. Sorry for the noise!

[2019-03-20 12:34] evilebottnawi opened #80 "Migrate on `serialize-to-js` for serializing"
* Operating System: no matter
* Node Version: no matter
* NPM Version: no matter
* webpack Version: no matter
* terser-webpack-plugin Version: latest

### Feature Proposal

Use `serialize-to-js` for serialize

### Feature Use Case

Above

[2019-03-20 12:36] evilebottnawi opened #81 "fallback for `find-cache-dir`"
* Operating System: no matter
* Node Version: no matter
* NPM Version: no matter
* webpack Version: no matter
* terser-webpack-plugin Version: latest

### Expected Behavior

`find-cache-dir` can return `null` so we need fallback for this using `os.tmpdir()`

### Actual Behavior

No fallback

### Code

No need

### How Do We Reproduce?

It is hard, but in theory can happens

[2019-03-20 15:12] lakatostamas commented on #71
Can I send a PR for this one?

[2019-03-20 16:19] evilebottnawi commented on #71
Yep, PR welcome

[2019-03-22 17:53] randak commented on #21
This thread caught my eye as I was searching for possible reasons we are seeing CI builds occasionally  time out (webpack hanging for 45+ minutes). We are not running WSL, but this in particular stood out to me:

I've seen our build hang for a while running locally on my Mac, and it was always at 92%. I haven't been able to get any more details out of our CI build hangs yet, but I'm going to test

[2019-03-28 13:57] damienwebdev opened #82 "When used with Lerna, a cache directory is created in several different locations"
* Operating System: `MacOS v10.14.3`
* Node Version: `v10.15.0`
* NPM Version:`6.7.0`
* Webpack Version:
[code]

### Expected Behavior
When using lerna for *hoisted* package management in a monorepo, when I do run `lerna run build` and it runs the build script in each of my packages, the resulting cache directory should be in my **root** `node_modules` of my project.

### Actual Behavior
When usin

[2019-03-28 15:10] evilebottnawi commented on #82
@damienwebdev we use https://github.com/avajs/find-cache-dir for detect cache directory, better create issue in their repo, as workaround you can setup path in configuration

[2019-04-08 21:46] joelzimmer opened #83 "sourceMap section should explain which sourceMaps are compatible"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

The sourceMaps section of the README includes the warning:

This doesn't include any recommendations for alternatives or reasons why it doesn't work with the plugin.

### Your Proposal for Changes

Please include a list of supported source maps or at least the family of source maps that

[2019-04-10 18:48] 29decibel opened #84 "sourceMap url through terserOptions does not working"
* Operating System: Linux
* Node Version: 8
* webpack Version: 4.29.6
* terser-webpack-plugin Version: 1.2.3

### Expected Behavior
I am using the following to generate a customized sourceMappingURL according to [terserOptions section](https://github.com/webpack-contrib/terser-webpack-plugin#terseroptions)
[code]

I am expecting the source code to have the following at the bottom of the minified s

[2019-04-10 18:51] evilebottnawi commented on #84
Answer https://stackoverflow.com/questions/38976873/how-to-change-sourcemappingurl-by-using-webpack

[2019-04-10 18:51] #84 closed

[2019-04-24 14:22] SamanthaAdrichem opened #85 "Reuses variables causing undefined"
* Operating System: Windows 10
* Node Version: 10.15.3
* NPM Version: 6.4.1
* webpack Version: 4.27.1
* terser-webpack-plugin Version: 1.2.3

### Expected Behavior
We inject a variable using angularJS, and re-use it later in the code. Without minification it works.
Problem is I can't supply too much information. Just taught i might tell you, you have a variable collission issue.

### Actual Behavi

[2019-04-24 15:09] evilebottnawi commented on #85
Looks problem in `terser` (we just wrapper for tool), anyway can you create minimum reproducible test repo?

[2019-04-27 01:04] backyardcoder commented on #6
@edmorley : It looks like this enhancement has landed in the newest update, and this can be closed. Source code reference [here](https://github.com/webpack/webpack/blob/master/lib/WebpackOptionsDefaulter.js#L305-L306).

[2019-05-04 17:00] edmorley commented on #6
@backyardcoder hi! This issue is about changing the defaults for this package, so downstream consumers (such as webpack) don't have to set the defaults themselves - and still applies.

[2019-05-09 23:04] simkessy commented on #57
Not working for me with exact same settings

[2019-05-14 11:22] evilebottnawi commented on #82
Close in favor https://github.com/avajs/find-cache-dir/issues/14

[2019-05-14 11:22] #82 closed

[2019-05-14 11:23] evilebottnawi commented on #85
Close due inactivity, problem in terser, feel free to any feedback

[2019-05-14 11:23] #85 closed

[2019-05-14 11:25] evilebottnawi opened #87 "feat: keepOriginalAssets"
* Operating System: no matter
* Node Version: no matter
* NPM Version: no matter
* webpack Version: no matter
* terser-webpack-plugin Version: no matter

### Feature Proposal

Allow keep original assets and minimizer, it is simplify usage for libraries

### Feature Use Case

[2019-05-14 11:31] #81 closed

[2019-05-14 12:41] evilebottnawi commented on #21
Tested on latest version and all works fine, i think problem was fixed inside WSL

[2019-05-14 12:45] evilebottnawi commented on #21
Try to reproduce with https://github.com/webpack-contrib/terser-webpack-plugin/issues/21#issuecomment-456324702

[2019-05-14 13:10] evilebottnawi commented on #21
Parallels option works fine on latest WSL version

[2019-05-14 13:30] andreialecu commented on #21
@evilebottnawi what Windows version are you testing on? 1903?

[2019-05-14 13:32] evilebottnawi commented on #21
@andreialecu virtual machine from windows, how i can get version of windows?

[2019-05-14 13:34] evilebottnawi commented on #21
I am trying to reproduce but can't, all works fine

[2019-05-14 13:40] andreialecu commented on #21
Run `winver` in a command prompt or from run. Should say version 1809 or 1903.

[2019-05-14 13:41] evilebottnawi commented on #21
@andreialecu Version 1803 (OS Build 17134.706)

[2019-05-14 13:42] evilebottnawi commented on #21
@andreialecu maybe you can create minimum reproducible test repo?

[2019-05-14 13:45] damienwebdev commented on #82
@evilebottnawi See @sindresorhus 's [comment](https://github.com/avajs/find-cache-dir/issues/9#issuecomment-364163029) I don't think there are any plans to change this, so I think the next step is to find a different `find-cache-dir` implementation that allows for configuration, utilize it here, and then make changes in Lerna to take advantage of it.

[2019-05-14 13:49] evilebottnawi commented on #82
@damienwebdev we provide cacheDir option, you can implement any behavior. You can add example to docs.

[2019-05-14 13:56] andreialecu commented on #21
I'm also on 1803, which is the currently widely available Windows version. 1903 is supposed to be released this month, and it has some WSL fixes, so maybe it might impact this issue. I haven't tested 1903 yet.

They also announced WSL2.0 which is a complete architecture change from WSL1.0 and whatever is causing this issue should be fixed by that, because it uses a real Linux kernel among other th

[2019-05-14 13:58] andreialecu commented on #21
Attaching repro proof:

![image](https://user-images.githubusercontent.com/697707/57703768-5fa80000-7669-11e9-9b5a-c66f36b5148c.png)

![image](https://user-images.githubusercontent.com/697707/57703840-7d756500-7669-11e9-9a7a-50784468c770.png)

[2019-05-14 13:59] evilebottnawi commented on #21
@andreialecu yes

[2019-05-14 13:59] evilebottnawi commented on #21
Investigate deeply, thanks for fast reply

[2019-05-14 14:04] andreialecu commented on #21
@evilebottnawi actually, minor correction on my previous comment. I'm on 1809, not 1803. You're one version behind. If you definitely cannot reproduce it, that may point out why.

[2019-05-14 14:08] evilebottnawi commented on #21
@andreialecu reproduce problem :star: WIP on fix

[2019-05-14 14:18] endiliey commented on #21
I am on 1803. Surprisingly it worked now on WSL😃.Previously it wasn't working,. had to manually disable parallel

![image](https://user-images.githubusercontent.com/17883920/57705256-1621da00-7696-11e9-8b22-ad8556b1b411.png)

[2019-05-14 14:42] evilebottnawi commented on #21
Repo https://github.com/webpack-contrib/terser-webpack-plugin/issues/21#issuecomment-456324702 is very hard :disappointed: i was spent around hour to search configuration and no luck, in future all big repositories will be ignored, it is hard to debug and it spends a lot of time

[2019-05-14 14:50] endiliey commented on #21
I think https://github.com/webpack-contrib/terser-webpack-plugin/issues/21#issuecomment-456324702 webpack config is defined/ constructed dynamically on `@angular/cli` which is another huge project.

[2019-05-14 14:58] evilebottnawi commented on #21
@endiliey @andreialecu looks it is not freeze, try to wait 5-25 minutes (depends on you hardware), problem what source map generation require many times

[2019-05-14 15:00] evilebottnawi commented on #21
In webpack@5 we update https://github.com/mozilla/source-map to latest version (WASM) and it should solve problem with perf, but here we can't do this :disappointed:

[2019-05-14 15:12] evilebottnawi commented on #21
Tried on many repos and all works fine, in some repos i have waited around 20 minutes due it is really big application. Just ensure it is not problem in plugin with WSL, just disable source map and try again

[2019-05-14 15:25] evilebottnawi commented on #47
Unfortunately, terser doesn't have `lib` directory in package

[code]

[2019-05-14 15:25] #47 closed

[2019-05-14 17:51] andreialecu commented on #21
Did you see 0% cpu for node processes for a very long time while you waited, and it eventually finished? Did you try with `parallel: false`?

A problem still exists on WSL that is not present for native Windows or native Linux builds. If you go through my comments above you can use a debugger to attach and break on something inside the terser plugin code even if it is running via `ng build`.

Anyw

[2019-05-14 18:00] endiliey commented on #21
I have been running it for 2 hours but it still stucks in 92%.  Also 0% node process

[2019-05-14 18:09] evilebottnawi commented on #21
@endiliey @andreialecu it is very strange, 20 min for https://github.com/webpack-contrib/terser-webpack-plugin/issues/21#issuecomment-456312880 and all were minified, maybe you can create other minimum reproducible test repo?

[2019-05-14 18:10] evilebottnawi commented on #21
I am on SSD, maybe WSL has timeouts and in some cases it is failed :confused:

[2019-05-14 18:11] evilebottnawi commented on #21
I can disable parallels on WSL by defaults, by want to ensure it is real problem in WSL, not in webpack or other ecosystem

[2019-05-14 19:13] evilebottnawi opened #89 "feat: migrate on jest-worker"
* Operating System: no matter
* Node Version: no matter
* NPM Version: no matter
* webpack Version: no matter
* terser-webpack-plugin Version: no matter

### Feature Proposal

use `jest-worker` instead `worker-farm`

### Feature Use Case

Better supporting all platforms (include WSL), faster and allow to use native parallel module

[2019-05-14 19:14] evilebottnawi commented on #21
Okey, we disable parallels on WSL and for 2.0 we migrate on `jest-worker` (they work with WSL) https://github.com/webpack-contrib/terser-webpack-plugin/issues/89

[2019-05-15 17:34] B2o5T commented on #57
Option `drop_console: true` remove all console methods.
If there is a solution to remove all console.log but keep other console methods?
Like option `pure_funcs: [ 'console.log' ]` in UglifyJS?

[2019-05-16 11:13] zhongzhong0505 opened #91 "ERROR in main.js from Terser"
* Operating System: iMac
* Node Version: v10.14.2
* NPM Version: 6.4.1
* webpack Version: 4.28.2
* terser-webpack-plugin Version: none

### Expected Behavior
success compile

### Actual Behavior
[0] ./src/a.js 951 bytes [built]
[1] ./src/index.js 1.01 KiB {0} [built]
[2] ./src/b.js 980 bytes [built]

ERROR in main.js from Terser
Unexpected token punc «(», expected name «from» [main.js:101,9]

###

[2019-05-16 11:48] evilebottnawi commented on #91
We just wrapper around terser, please open issue in terser repo, we can't do something on our side, but this looks like parser error, maybe something create invalid es code, please try to disable `RemovePlugin` or `@babel/plugin-syntax-dynamic-import` and try to build again.

[2019-05-16 11:48] #91 closed

[2019-05-16 12:13] fabiosantoscode commented on #47
I might just add it again. I'm not very satisfied with having to re-run Rollup every time I change a single thing in the code.

[2019-05-16 12:27] evilebottnawi commented on #47
@fabiosantoscode if you add it again i reopen issue and release new version with this feature, just do it and ping me again, thanks

[2019-05-19 13:26] frederikhors opened #92 "Isn't webpack switched to terser internally? Can I config terser without terser-webpack-plugin?"
Why should I need terser if webpack already uses it internally?

I need some non-default options, for example the comment strip in the final bundle and found around that I could do this:

[code]

Can I config webpack without require `terser-webpack-plugin`?

[2019-05-20 12:19] evilebottnawi commented on #92
Answer in webpack repo

[2019-05-20 12:19] #92 closed

[2019-05-20 17:11] L2jLiga opened #93 "feat: Update Terser to ^4"
* Operating System: n/a
* Node Version: n/a
* NPM Version: n/a
* webpack Version: n/a
* terser-webpack-plugin Version: n/a

### Feature Proposal

Terser 4 rolled out day ago. I think it would be nice to update Terser to `^4.0.0`.
Not sure is it minor change or not :thinking:

### Feature Use Case

Terser 4 includes fixes for some bugs and performance improvements.

[2019-05-23 15:38] nicholascm commented on #71
@evilebottnawi I have a branch with this change that is working for my use case, just working on tests:  https://github.com/webpack-contrib/terser-webpack-plugin/compare/master...nicholascm:set-sourcemap-based-on-webpack-config

[2019-05-23 15:48] evilebottnawi commented on #71
Looks good, feel free to send a PR

[2019-05-24 13:25] #93 closed

[2019-05-30 18:52] roblevintennis opened #98 "terser-webpack-plugin-legacy webpack.optimization.minify"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

I'm using webpack v3.11 and we used to do:

`new webpack.optimize.UglifyJsPlugin()` but I switched to Terser and found the docs recommend:

[code]

This confuses me as I wonder if `webpack.optimization` is even a thing in 3.x as the new webpack documentation [starts with](https://webpack

[2019-05-30 19:05] evilebottnawi commented on #98
https://reactjs.org/docs/optimizing-performance.html#webpack
[code]

[2019-05-30 19:05] #98 closed

[2019-05-30 19:07] roblevintennis commented on #98
I have:

[code]

`production` is just a boolean assume it `true` and `webpack` has been imported

[2019-05-30 21:41] roblevintennis commented on #98
@evilebottnawi Hey, just for posterity for anyone else that has this problem and since the -legacy is so new, I figured out the issue in our environment which is Chrome Version 74.0.3729.157 (Official Build) (64-bit) on a macbook with mohave 10.14.4 (18E226), webpack v3.11 and babel 7 (if all that matters).

I can repro this bug repeatedly if I toggle React Developer Tools
 extension! (version 3.6

[2019-06-04 07:09] dhirajforyou commented on #57
Here I did in terser:
`terserOptions:
                        {
                            compress:{
                                // filter all console's statements
                                // console.error, console.log will stay
                                pure_funcs: ['console.info', 'console.debug', 'console.warn']
                            }
                        }`

[2019-06-27 12:45] mifopen opened #99 "Stackoverflow in very specific code scenario"
- Operating System: macOS Mojave 10.14.5
- Node Version: 12.4
- yarn Version: 1.17.0
- webpack Version: 4.35.0
- terser-webpack-plugin Version: default for this webpack version

### Expected Behavior
Should not crash =)
I have tried to turn off terser-webpack-plugin and minify it with the same version of terser and it works

### Actual Behavior
[code]

### How Do We Reproduce?
[code]

[2019-06-29 22:45] underflow00 opened #100 "Source map + minimizer results in silent failure"
- Operating System: Win 10
- Node Version: 10.15.3
- NPM Version: 6.4.1
- webpack Version: 4.35.0
- terser-webpack-plugin Version: 1.3.0

### Expected Behavior
Using source map with minimizer created a minified file with a source map.

### Actual Behavior
Using source map with minimizer causes silent failure. Output file not created. No console output.

### How Do We Reproduce?
1. Create empty fil

[2019-06-29 22:45] underflow00 commented on #100
It works after downgrading terser-webpack-plugin to v1.2.4. Something to do with the terser upgrade? Or is it a caching problem?

[2019-06-30 08:30] p3x-robot opened #101 "source map is not working anymore"
- Operating System: Linux bitang 4.15.0-54-generic #58-Ubuntu SMP Mon Jun 24 10:55:24 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- Node Version: 12.5.0
- NPM Version: 6.9.2
- webpack Version: 4.35.0
- terser-webpack-plugin Version: 1.3.0

### Expected Behavior
sourcemaps are working

### Actual Behavior

[code]

### Code

[code]

[code]

### How Do We Reproduce?

the problem is, that some repos i can

[2019-06-30 21:18] wallzero commented on #100
I am running into this as well. It looks like #101 is also.

[2019-06-30 23:08] webpack-bot opened #102 "Source map + minimizer results in silent failure"
# Bug report

**What is the current behavior?**
Using source map with minimizer causes silent failure. Output file not created. No console output.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Create empty file `1.js`
2. Create `webpack.config.js` file with contents:
[code]
3. Run `webpack --config webpack.config.js`

**What is the expected behavior?**
Output fil

[2019-07-01 09:29] evilebottnawi commented on #102
Close in favor https://github.com/webpack-contrib/terser-webpack-plugin/issues/100

[2019-07-01 09:29] #102 closed

[2019-07-01 09:29] evilebottnawi commented on #100
Please create minimum reproducible test repo

[2019-07-01 09:29] evilebottnawi commented on #100
Looks like problem in terser

[2019-07-01 09:38] evilebottnawi commented on #101
Close in favor https://github.com/webpack-contrib/terser-webpack-plugin/issues/100, please create minimum reproducible test repo in original issue

[2019-07-01 09:38] #101 closed

[2019-07-01 09:42] evilebottnawi commented on #100
@p3x-robot thanks, i will look on this in near future

[2019-07-01 10:02] evilebottnawi commented on #100
Problem in latest terser release https://github.com/terser-js/terser/pull/382

[2019-07-02 02:51] underflow00 commented on #100
That terser issue won't be fixed anytime soon. You should revert it here.

[2019-07-02 15:55] filipesilva opened #104 "Minify modules instead of chunks"
* Operating System: Windows
* Node Version: 10.16.0
* NPM Version: 6.9.0
* webpack Version: 4.30.0
* terser-webpack-plugin Version: 1.2.3

### Feature Proposal

`terser-webpack-plugin` operates on webpack chunks directly via the `optimizeChunkAssets` compilation hook. At this point individual chunks exist, each containing a collection of modules wrapped in the Webpack module loader. A single chunk

[2019-07-02 16:32] evilebottnawi commented on #104
We have discussion about this for webpack@5

Minify modules has flaws:
- inefficient compression
- we still need compress chunk for removing spaces/comments/etc from whole file (so we will run terser twice, so more memory usage)
- some plugin can add code after optimize modules
- overload when you use parallel in some cases

I think here only one solution - reduce memory usage on terser side or in

[2019-07-02 16:44] filipesilva commented on #104
It's interesting to hear this has already been discussed!

What do you mean with inefficient compression though? I feel very confident that compression modules would be the same as compressing the chunk (if we ignore the module wrapper code).

I definitely see the part about still needing to minimize the chunk for the non-module code. Maybe Terser could be configured to perform a more lightweight

[2019-07-03 10:27] evilebottnawi commented on #104
@filipesilva

non module webpack code, also it is bad practice uglify whole file (other bundlers do same), i can provide examples

also don't forget what some plugins can emit js files and we compress them (we don't parser them only compress), so implementation on module level increase memory cpu/memory usage

It is still required to send whole js file to terser so it is increase memory usage

Als

[2019-07-17 19:10] Alex-Willenbrink commented on #91
How do you disable the ```RemovePlugin```?

[2019-07-17 23:39] SetTrend opened #107 "Minification inadvertently converts ISO-8859-1 non-ASCII characters to UTF-8"
- Operating System: Windows 10x64
- Node Version: v10.3.0
- NPM Version: 6.1.0
- webpack Version: 4.35.0
- terser-webpack-plugin Version: coming with webpack

### Expected Behavior

Minifying string literals in a UTF-8 Javascript file should not alter the text's non-ASCII characters.

### Actual Behavior

Non-ASCII characters in a string literal from a UTF-8 JavaScript file are inadvertently conve

[2019-07-18 09:55] evilebottnawi commented on #107
hm, looks like a terser bug, can you try compress file without webpack plugin and check all fine or not?

[2019-07-18 11:45] SetTrend commented on #107
@evilebottnawi :

Would you mind elaborating on how I would do that? I'm not too deep into WebPack at this time, I'm afraid.

[2019-07-18 12:08] evilebottnawi commented on #107
@SetTrend install `terser` https://github.com/terser-js/terser and try to use CLI for compress file, also can you try `ascii_only` option https://github.com/terser-js/terser#output-options

[2019-07-25 08:40] fancyboynet opened #108 "Not work with the webpack.BannerPlugin"
- Operating System: windows 10
- Node Version: v11.13.0
- NPM Version: 6.7.0
- webpack Version: 4.36.1
- terser-webpack-plugin Version: 1.3.0

### Expected Behavior

Add a banner on the top of the output code.

### Actual Behavior

No comment at all.

### Code

[code]

[2019-07-25 08:42] #108 closed

[2019-07-25 12:06] carrollcai commented on #57
is work?

[2019-07-29 22:22] SetTrend commented on #107
I just did as you suggested and ran the proposed test. It looks like `terser` is the issue here, indeed:
<br/>

Running ...

[code]

results in these four files:

![Dist result](https://user-images.githubusercontent.com/9283914/62085329-97334b00-b25b-11e9-9a6f-88e558260410.png)

With `TestUC.js` displaying the following content:

![TSC encoding](https://user-images.githubusercontent.com/9283914/62

[2019-07-30 07:42] evilebottnawi commented on #107
@SetTrend i can't understand, bug exists in terser? Why do you use `ISO 8859-1`? escm spec allow using utf-8 only for scripts (latest)

[2019-07-30 14:25] SetTrend commented on #107
@evilebottnawi :

That's not the case. Let me iterate:

- The JavaScript source _is_ UTF-8, as you can see from the screenshots. There's a control character in the string literals, that's all. Yet, control characters in string literals _should not_ be altered.

- Regardless, and although it's irrelevant to this issue: the ECMAScript specification (latest) doesn't set any restrictions to JavaScript

[2019-07-30 14:28] evilebottnawi commented on #107
@SetTrend i think better open issue in `terser` repo, we just wrapper for this tool, i think we can't do something on our side

[2019-07-30 14:29] endiliey commented on #107
agree that it is an issue in terser.

[2019-07-30 14:31] evilebottnawi commented on #100
Closed, update deps

[2019-07-30 14:31] #100 closed

[2019-07-31 18:36] sokra commented on #104
You can write a terser-loader to archive this. The optimization is worse but if you don't care you can boost performance a lot (especially with module level caching: watch, cache-loader or persistent caching in webpack 5).

You will end up with some variables not mangled: `__webpack_require__`, `module`, `exports`. This can be quite expensive.

You can try to invoke the terser-webpack-plugin in ad

[2019-08-01 13:17] jerome-benoit opened #112 "1.4.x breaks source map parsing for source-map-support"
- Operating System: Windows or Linux or MacOSX
- Node Version: 10.16.1
- NPM Version: 6.9.0
- webpack Version: 4.38.0
- terser-webpack-plugin Version: 1.4.1

### Actual Behavior

Before 1.4.x, we were able to have properly mapped stack trace by running our TS code transpiled with -r source-map-support/register. With 1.4.X, it's now broken and we have a stack trace only relevant to the minimified f

[2019-08-01 13:21] evilebottnawi commented on #112
Please provide minimum reproducible test repo, i think problem on `ts-loader` side

[2019-08-01 13:22] evilebottnawi commented on #112
Don't forget you need ` "sourceMap": true` in `tsconfig.json`

[2019-08-01 14:15] filipesilva commented on #104
The real benefit from terser is only manifest after modules are concatenated, so I don't think a loader would do much good. Using terser on a loader would greatly reduce the optimizations that Terser is able to do, whereas using it as a plugin that optimizes modules after they are concatenated would retain the same optimizations for those modules.

[2019-08-01 17:21] jerome-benoit commented on #112
It’s not possible, the software is proprietary.

But if you just create a TS project (index.ts with throw Error() for example) and you use webpack to « build » it with the setup I provided, you have the issue on the stack trace on transpiled file run with nodejs with the options I provided.

[2019-08-01 17:24] jerome-benoit commented on #112
Of course. The issue come from the terser-webpack-plugin:

* I upgrade to 1.4.x, the stack trace is not properly mapped to the TS source files;
* I downgrade to 1.3.0, the stack trace is correct.

[2019-08-01 17:33] evilebottnawi commented on #112
Sorry without reproducible test repo i can't help

Can't reproduce all works fine, looks something wrong in configuration, many projects use ts and webpack and no reports about this

[2019-08-01 17:36] evilebottnawi commented on #112
You can create minimum reproducible test repo what contains only configuration and example code, no need provide full repo

[2019-08-01 18:09] jerome-benoit commented on #112
I can give you all configurations files.

[2019-08-01 18:12] jerome-benoit commented on #112
Well, I can but not as attachements to the mail response :)

[2019-08-01 18:14] jerome-benoit commented on #112
I will try to create a reproductible case that I can share. Just wait a bit 'cause time is not as free as it used to be. Thanks.

[2019-08-02 11:15] evilebottnawi commented on #112
@jerome-benoit thanks, feel free to ping me

[2019-08-04 03:34] womcauliff commented on #92
For any others who also arrived to this thread via google search results, the answer is located here: https://github.com/webpack/webpack/issues/9151

[2019-08-05 16:00] cristian-sima commented on #112
same here

[2019-08-05 17:17] jerome-benoit commented on #112
Can you share the code to reproduce the issue ?
I will not be able to build a reproduction repo this week.

[2019-08-06 09:46] swateek commented on #91
Facing this issue, don't have any solution yet.

[2019-08-06 09:47] swateek commented on #91
Facing this issue, exact error is

    ERROR in my_backend.js from Terser
    Invalid assignment

No solution yet.

[2019-08-06 09:52] evilebottnawi commented on #91
@swateek you have invalid code `Invalid assignment`, or something wrong on terser side, open a issue in the terser repo

[2019-08-06 12:16] chanduivaturi opened #113 "terser-webpack-plugin showing blank page with errors after production build"
- Operating System: MAC OS_X
- Node Version: v10.16.0
- NPM Version: 6.10.2
- webpack Version:~4.29
- terser-webpack-plugin Version: ^1.4.1

### Expected Behavior

Expecting my variables and functions to be mangled after production build
Example: if i have method userService it should be mangled to unknown property and variables like myTitle="Some title" to be mangled.
### Actual Behavior

After i

[2019-08-06 12:21] evilebottnawi commented on #113
Closing due incomplete template, please fill `How Do We Reproduce?`

[2019-08-06 12:21] #113 closed

[2019-08-06 17:52] SetTrend commented on #107
@evilebottnawi, @endiliey

I just noticed that the Terser `ascii_only` option is not supported by webpack-contrib/terser-webpack-plugin. Would you mind adding it?

[2019-08-07 08:26] shtengel opened #114 "Unexpected token: punc (:)"
- Operating System: MAC OSX
- Node Version: v10.13.0
- NPM Version: 6.6.0
- webpack Version: 4.39.1
- terser-webpack-plugin Version: 1.4.1

### Expected Behavior

Be able to run npm build  without exceptions

### Actual Behavior
I dont why but now when im running webpack to build my ReactJS app im getting this error:
[code]
i can't find the file main.51cb43366055e316f3ed.js so i don't know whats t

[2019-08-07 10:06] evilebottnawi commented on #114
Please create minimum reproducible test repo

[2019-08-07 10:07] evilebottnawi commented on #107
You can set any custom options for terser using https://github.com/webpack-contrib/terser-webpack-plugin#terseroptions

[2019-08-07 10:07] #107 closed

[2019-08-07 10:08] evilebottnawi commented on #107
`output: { ascii_only: true }`

[2019-08-09 08:25] Miaoxingren opened #115 "OOM when set parallel to true"
- Operating System: tlinux
- Node Version: v10
- NPM Version: v6
- webpack Version: v4
- terser-webpack-plugin Version: 1.3.0

### Expected Behavior
Finish without OOM.

### Actual Behavior
OOM.

### Code

### How Do We Reproduce?
Please check at this issue [OOM when generating 10000 pages ](https://github.com/nuxt/nuxt.js/issues/6110)

[2019-08-09 09:58] evilebottnawi commented on #115
What is OOM?

[2019-08-10 12:58] fabiosantoscode opened #116 "Propagate errors from Terser"
- Operating System: Linux x64
- Node Version: 12.5.0
- NPM Version: 6.10.2
- webpack Version: 4.38.0
- terser-webpack-plugin Version: 1.4.1

### Feature Proposal

To help users and Terser contributors debug Terser issues when Terser is called by this package and crashes, when Terser crashes, an indication that it was Terser that crashed, not this project, and a Terser stack trace should be printed

[2019-08-10 13:05] evilebottnawi commented on #116
:+1: thanks

[2019-08-10 13:06] evilebottnawi commented on #116
@fabiosantoscode just for infromation how we can reproduce problem in terser :smile: Maybe just invalid code?

[2019-08-10 13:11] fabiosantoscode commented on #116
Right, I forgot!

[code]

This needs to be compressed with `evaluate: false` in the compress options, and it will make Terser's current version crash.

[2019-08-12 02:12] Miaoxingren commented on #115
Out of memory.

[2019-08-12 11:05] evilebottnawi commented on #115
@Miaoxingren please create minimum reproducible test repo, some projects really big and you need increase node memory

[2019-08-12 11:21] evilebottnawi commented on #114
Issue https://github.com/jantimon/html-webpack-plugin/issues/1262

[2019-08-12 11:21] evilebottnawi commented on #112
Friendly ping

[2019-08-12 12:32] Miaoxingren commented on #115
I create this [demo](https://codesandbox.io/embed/pymmj2r9x7) and found out there are more than one node process when set parallel to true. Check this [issue](https://github.com/nuxt/nuxt.js/issues/6110#issuecomment-519818043), I wnat to know why I got so many node process.

[2019-08-12 12:40] evilebottnawi commented on #115
@Miaoxingren because you set parallel? You can change number of parallel process using option

[2019-08-12 20:47] fabiosantoscode commented on #116
The bug has been fixed so you'll have to stick to 4.1.3 :)

[2019-08-13 07:46] Miaoxingren commented on #115
@evilebottnawi Tks, I got it. I should set an appropriate number to prevent OOM.

[2019-08-13 07:46] #115 closed

[2019-08-13 16:08] Corky3892 commented on #99
Looks like issue is introduced in Webpack 4.26.0 - rolling backwards to 4.25.0 and bundle completes successfully.

[2019-08-13 16:16] evilebottnawi commented on #99
@Corky3892 no bugs with `4.25.0` and `4.26.0`

[2019-08-14 06:47] michaljabi opened #117 "Probable crash when using old Terser version (4.1.2)"
After last update of my Webpack and loader I noticed error which crashes my build and does not make new 'dist' build:

`ERROR in bundle.bf66c9212bfb8faf1c69.js from Terser
undefined`

That thing tells me nothing. But I figured (after over an h) that some of the plugin or webpack itself uses `terser-webpack-plugin` and it is installed in my `node_modules`

Nothing special - all ok, newest `1.4.1 `v

[2019-08-14 10:40] evilebottnawi commented on #117
Please update terser to latest version, also please use issue template, your information is not enough to help you, this is the reason we ask to use templates, also problem can be on terser side, double check what you update lock files too, sorry

You can fill issue using template and i will help with problem, now i can't do something

[2019-08-14 10:40] #117 closed

[2019-08-14 12:44] thematho commented on #114
@shtengel Got the same issue here, the root of the issue is as @evilebottnawi  mentioned, es2017 not being supported, my line of code that throws the issue looks like this:
[code]

[2019-08-14 12:48] evilebottnawi commented on #114
@thematho open issue in terser, you catch a bug

[2019-08-14 13:48] thematho commented on #114
@evilebottnawi tracked down the issue.
So in order to allow terser to compile trailing commas in function parameters, we need to setup the `ecma` option to 8, in my case, the `angular-cli` uses `ecma: 6`
No issue to report on `terser` side, in this case I think the `terser-webpack-plugin` only needs to update the options passed

[2019-08-14 13:55] evilebottnawi commented on #114
@thematho we can't update `options` because we don't know what is ecma version you use in code, you need setup this manually

[2019-08-16 21:40] guillaumebriday opened #118 "Unhandled rejection Error: "." is not in the SourceMap."
- Operating System: macOS
- Node Version: 8, 10, 11 and 12
- NPM Version: 6
- webpack Version: 4.x
- terser-webpack-plugin Version: 1.4

### Expected Behavior

Compile without the rejection Error.

I have no idea how to debug it and I don't find any mentions of a breaking change or issue.

### Actual Behavior

I have this error thrown in version > 1.4 but it works perfectly in 1.3. The code remain

[2019-08-19 08:04] webpack-bot opened #119 "ERROR in server.js from Terser"
Problem happens only in production mode

OS - Ubuntu 18.04
Node - 12.8.1
npm - 6.10.2
webpack - 4.39.2

webpack config

[code]
So error

[code]

---

This issue was moved from webpack/webpack#9595 by @sokra. Original issue was by @naturalfreak.

[2019-08-19 09:43] evilebottnawi commented on #119
@naturalfreak please create minimum reproducible test repo

[2019-08-19 12:11] naturalfreak commented on #119
The problem was from latest version of [mongodb v3.3](https://www.npmjs.com/package/mongodb)

Using this code

[code]

[2019-08-19 12:57] fabiosantoscode commented on #104
Terser runs fastest when the input code is smaller!

@sokra it's possible to pre-warm the terser mangle cache with any global webpack variables you need to use from within, by using the mangle cache options. This will enable you to mangle `__webpack_require__` as `a` or anything you want.

[2019-08-20 10:24] evilebottnawi commented on #119
@naturalfreak can't reproduce, please provide minimum reproducible test repo otherwise issue will closed

[2019-08-20 11:54] naturalfreak commented on #119
Project reproduction [repo](https://github.com/naturalfreak/terser-repo)

To reproduce run:
[code]

[2019-08-21 22:44] Vednus commented on #119
getting the same error using mongoose to connect...

[2019-08-21 23:14] Vednus commented on #119
also reported here: https://github.com/serverless-heaven/serverless-webpack/issues/529

[2019-08-22 10:59] evilebottnawi commented on #119
/cc @fabiosantoscode maybe bug in terser?

[2019-08-23 08:06] N8th8n8el commented on #119
Getting the same error.
[code]
Started seeing this issue right around the time I started using mongodb (^3.3.0) (Not using mongoose)
Terser-webpack-plugin: 1.4.1

[2019-08-24 11:03] fabiosantoscode commented on #119
Please try with 4.2.1, it should work fine.

[2019-08-26 11:38] przem93 opened #120 "Why plugin add info about package to minified code?"
Hi.
I use react-scripts which use this plugin during bundling to minify code. Code is build by codebuild on aws. Codebuild build always in different directories like /codebuild/output/src031636421 or /codebuild/output/src593949567.  When this plugin is used then package info is added to minified code.

Example
[code]

It causes that when react-scripts use `[contenthash]` from webpack in file name,

[2019-08-26 11:52] evilebottnawi commented on #120
Please use stackoverflow or gitter for questions

[2019-08-26 11:52] #120 closed

[2019-08-26 12:29] przem93 commented on #120
d

[2019-08-29 12:26] Allain55 opened #122 "Exclude not working"
- Operating System: Ubuntu 16.04
- Node Version: 12.9.1
- NPM Version: 6.10.2
- webpack Version: 4.39.2
- terser-webpack-plugin Version:  1.4.1

### Expected Behavior
Exclude option not excluding anything. Tried to put a console.log in a file in node modules directory then exclude the file, so the log should remain there but it's removed. If I remove the "drop_console" option from the config the l

[2019-08-29 12:31] evilebottnawi commented on #122
Please read what `exclude` means, it is expected,  `exclude` for excluding `assets`, not modules or them location

[2019-08-29 12:31] #122 closed

[2019-08-29 12:32] evilebottnawi commented on #122
When you build app, you have `bundled` files, for example for each entry point, so exclude allow to you exclude bundled files, not modules

[2019-09-02 11:14] evilebottnawi commented on #112
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-09-02 11:14] #112 closed

[2019-09-02 11:15] evilebottnawi commented on #114
Close in favor https://github.com/jantimon/html-webpack-plugin/issues/1262

[2019-09-02 11:15] #114 closed

[2019-09-02 11:20] evilebottnawi commented on #119
Fixed in latest terser, please update deps

[2019-09-02 11:20] #119 closed

[2019-09-02 11:24] evilebottnawi commented on #80
No need right now

[2019-09-02 11:24] #80 closed

[2019-09-02 11:27] evilebottnawi commented on #99
Please update `terser-webpack-plugin` to latest version, no problems

[2019-09-02 11:27] #99 closed

[2019-09-02 11:35] evilebottnawi commented on #118
use latest `terser-webpack-plugin` and run `yarn upgrade`, you have many old deps

[2019-09-02 11:35] #118 closed

[2019-09-02 14:57] evilebottnawi commented on #116
I can't reproduce situation where we don't show stack trace from terser when bug happens, maybe somebody can provide reproducible test repo?

[2019-09-02 15:15] koggdal opened #126 "Higher quality source maps are very slow"
- Operating System: macOS 10.14.6
- Node Version: 10.15.3
- NPM Version: 6.4.1
- webpack Version: 4.39.3
- terser-webpack-plugin Version: 1.4.1

After upgrading our project to Webpack 4.39.0 (and above) builds got a lot slower. It's a fairly big Webpack setup, building several products in the same Webpack command (several configs specified). A build used to take around 4 minutes, but after upgradi

[2019-09-02 15:20] evilebottnawi commented on #126
Please open issue in webpack, we use webpack api

[2019-09-02 15:28] koggdal commented on #126
As I'm not that familiar with how these things work, I don't have enough knowledge right now to do that. The issue I'm seeing started happening with the change in #109. That is using the value `true` for `terserOptions.sourceMap`, which is not really a documented value (only `false` and an object is documented, at least the effect of the value `true` is not documented). So, as the switch to using

[2019-09-02 15:32] evilebottnawi commented on #126
@koggdal

New source map generation based on `webpack-source` package. We use information provided by webpack.

Also your perf regression is expected, before you have broken source maps, now they are valid and contains unbroken information so you require more time for generation source maps. Unfortunately we can not do anything on the side of the plugin

[2019-09-02 15:48] koggdal commented on #126
Okay, thank you!

[2019-09-02 15:48] #126 closed

[2019-09-02 17:53] evilebottnawi commented on #87
better use multiple entry points or multi compiler mode for this case

[2019-09-02 17:53] #87 closed

[2019-09-02 17:54] #20 closed

[2019-09-04 12:32] evilebottnawi commented on #6
Done for next

[2019-09-04 12:32] #6 closed

[2019-09-05 12:55] evilebottnawi commented on #89
Done, need setup CI for wsl

[2019-09-05 12:55] #89 closed

[2019-09-05 14:09] evilebottnawi commented on #21
Somebody can test master version on WSL?

[2019-09-05 14:10] evilebottnawi commented on #21
Can't setup azure pipelines for WSL, if anyone had experience please put here :smile:

[2019-09-05 15:30] evilebottnawi commented on #104
@fabiosantoscode can you provide example?

[2019-09-05 15:37] #83 closed

[2019-09-05 16:19] evilebottnawi commented on #71
Partial fixed in `2.0.0` version, other fixes possible only for `webpack@5`

[2019-09-05 16:34] fabiosantoscode commented on #104
@evilebottnawi sure!

[code]

[2019-09-05 16:39] evilebottnawi commented on #104
@fabiosantoscode how it is decrease minification time and how ?

[2019-09-05 16:40] fabiosantoscode commented on #104
In webpack's case you'll want to create a copy of this Map for each module. Terser mutates it. If you don't want to change the user-provided `options.mangle` there's a `nameCache` top-level property which can be given to Terser so that it can modify the option itself. I recommend doing this.

[2019-09-05 16:41] fabiosantoscode commented on #104
I don't have any benchmarks on hand, but I've read this fact (that minification time is reduced) several times before.

There's also a nice advantage which is, if a user has an issue with Terser they can reproduce it more easily since chunk generation is out of the picture.

[2019-09-05 16:43] fabiosantoscode commented on #104
Here's what the options look like with `nameCache`:

[code]

[2019-09-05 16:44] evilebottnawi commented on #104
we need investigate this, maybe benchmark will be great

[2019-09-05 20:43] fabiosantoscode commented on #104
Probably something can be whipped up quickly with the lodash repository and a bash script or something. I have my hands full atm since there's a few bugs popping up. O

[2019-09-05 20:43] fabiosantoscode commented on #104
Probably something can be whipped up quickly with the lodash repository and a bash script or something. I have my hands full atm since there's a few bugs popping up on Terser.

[2019-09-06 00:42] nick opened #143 "Process aborts with 'out of memory' when using 2.0.0"
- Operating System: OSX 10.14.6
- Node Version: 10.16.0
- NPM Version: 6.9.0
- webpack Version: 4.39.3
- terser-webpack-plugin Version: 2.0.0

### Expected Behavior

Process does not abort

### Actual Behavior

[code]

### Code

https://github.com/OriginProtocol/origin/blob/master/dapps/marketplace/webpack.config.js

### How Do We Reproduce?

[code]

[2019-09-06 03:56] skirankumar7 opened #144 "How can I compare before and after of using terser-webpack-plugin some enhancement done"
**How can I compare so that before and after of using terser-webpack-plugin some enhancement is done in terms of bundle size of optimizations or else any others**

**_any comments..._**

[2019-09-06 10:26] evilebottnawi commented on #144
Check size of files, please use stackoverflow or gitter for questions

[2019-09-06 10:26] #144 closed

[2019-09-06 10:28] evilebottnawi commented on #104
@fabiosantoscode no need rush, just todo :+1:

[2019-09-06 10:28] evilebottnawi commented on #143
Thanks for issue, investigate

[2019-09-06 10:40] evilebottnawi commented on #21
/cc @Pajn can you test terser-webpack-plugin@2 on WSL? Thanks

[2019-09-06 11:10] evilebottnawi commented on #143
Just information, change this line to:
[code]

and see what happens.

Error appears on source map generation step:
[code]

Use `sourceMap: false` fix problem, increase memory for node also fix problem. I keep investigation.

[2019-09-06 11:20] Pajn commented on #21
I'm sorry. I gave up on trying to use Windows for development because problems like this was the norm and not an exception so now I only have Linux to test on.

[2019-09-06 11:26] evilebottnawi commented on #21
/cc @andreialecu friendly ping, you are still on WSL?

[2019-09-06 12:01] evilebottnawi commented on #143
Looks terser leaking

[2019-09-06 12:16] evilebottnawi commented on #143
Why problem appears:
Here we change logic https://github.com/webpack-contrib/terser-webpack-plugin/commit/8b88b399cf9c95d7d45e597235d6fa5e5a8aa34c

Before for one file we run new thread for uglification, now we use same thread for this. Removing `tasks.length > 1` from https://github.com/webpack-contrib/terser-webpack-plugin/blob/master/src/TaskRunner.js#L48 fix problem. Why we do this - try to re

[2019-09-06 12:48] evilebottnawi commented on #143
/cc @nick also `cache` is not working with your code, because you always generate something new in code when i run build, don't use:
[code]

Caches is not working in your app

[2019-09-06 14:14] evilebottnawi commented on #143
@nick try to use https://github.com/webpack-contrib/terser-webpack-plugin/releases/tag/v2.0.1, anyway we need ivnestigate why terser consume a lot of memory

[2019-09-06 14:45] fabiosantoscode commented on #143
Interesting. I'll try to come up with the exact tag where this started to happen.

[2019-09-06 14:46] fabiosantoscode commented on #143
But I kind of have something else I have to fix first, though.

[2019-09-06 14:49] evilebottnawi commented on #143
@fabiosantoscode :+1: yep, feel free to ping me i can help you with memory leak seaching

[2019-09-09 05:19] wanliyunyan opened #148 "Please modify the default value of extractComments in the document."
Documentation Is:

- [ ] Missing
- [ ] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

### Your Proposal for Changes

[2019-09-09 10:16] evilebottnawi commented on #148
Fixed https://github.com/webpack-contrib/terser-webpack-plugin/pull/147

[2019-09-09 10:16] #148 closed

[2019-09-09 10:16] evilebottnawi commented on #21
I am closing issue, if somebody will get an error, just open a new problem with a minimal example, thanks

[2019-09-09 10:16] #21 closed

[2019-09-09 15:38] fabiosantoscode commented on #116
@evilebottnawi I noticed you need to enable the `parallel` option to see this. Sorry for not letting you know before.

[2019-09-09 15:44] evilebottnawi commented on #116
@fabiosantoscode hm, without parallel it is also work as expected, i can't reproduce :disappointed:

[2019-09-09 17:00] fabiosantoscode commented on #143
I tried creating a file that attempts to encrypt a lot of things to try and create a memory leak, but I can't reproduce this at all. I looked into the commit that fixes this. Isn't this just a 2.0.0 specific problem?

[2019-09-09 17:13] frlinw opened #149 "[2.0.0] Wrong minification"
- Operating System: linux
- Node Version: 12.x
- terser webpack plugin: 2.0.0

### Expected Behavior

v1.4.1 behavior
![image](https://user-images.githubusercontent.com/11896237/64551134-b0d4b180-d334-11e9-904e-58c6640e6846.png)

### Actual Behavior

v2.0.0 behavior
![image](https://user-images.githubusercontent.com/11896237/64551006-6f440680-d334-11e9-9ca0-373b4cd5b244.png)
`syncQueueItems` is no

[2019-09-09 17:31] evilebottnawi commented on #149
Please open issue in `terser` package https://github.com/terser/terser

[2019-09-09 17:31] #149 closed

[2019-09-09 17:31] evilebottnawi commented on #149
/cc @fabiosantoscode

[2019-09-09 17:33] evilebottnawi commented on #143
@fabiosantoscode no, we just run terser in separate thread instead using currently, but looks terser have memory leak, because no problem in parallel mode, but problem when you use only one thread

[2019-09-10 01:10] fabiosantoscode commented on #143
Can this be reproduced with the default options? The Terser tests aren't leaking memory at all.

[2019-09-10 02:45] eliseumds commented on #143
In my experience, there hasn't been any significant difference in memory usage. Both V1 and V2 are hovering around 500MB of memory (and same compilation time) for one of our smaller apps. Measured with `NODE_ENV=production time -l ...` on MacOS.

[2019-09-10 10:04] evilebottnawi commented on #143
@eliseumds it is expected because terser still consume many memory, need search way to optimize terser and decrease uglify time

[2019-09-10 10:34] fabiosantoscode commented on #149
Please update Terser to 4.3.1 which has been released to fix this issue.

[2019-09-10 14:49] koggdal opened #150 "Unclear docs on default behavior for source maps"
Documentation Is:
- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

The release notes for 2.0.0 lists breaking changes (awesome!), but forgot to mention the change for source maps. The logic now looks for `undefined` for the `sourceMap` option and falls back to looking at `devtool` from the webpack config, which means the default behavior changed from `fa

[2019-09-10 14:55] evilebottnawi commented on #150
Here already in docs https://github.com/webpack-contrib/terser-webpack-plugin#sourcemap

[2019-09-10 14:56] evilebottnawi commented on #150
But yes, feel free to send a PR with `Default: false (see below for details)`

[2019-09-10 15:04] koggdal commented on #150
@evilebottnawi Okay, here you go! :) https://github.com/webpack-contrib/terser-webpack-plugin/pull/151 How about the release notes change? I don't have access to update that!

[2019-09-10 19:57] J-Rojas commented on #104
I have a need of generating a terser-loader that minifies before bundling. The use case is that I'd like to design custom rules for minifing/managling each module instead of applying global exclusion rules on the entire bundle. Also there's some Webpack transformations that happen during bundling as well that interfere with contextual mangling rules that I'd like to sidestep by minifing before bun

[2019-09-11 10:17] evilebottnawi commented on #104
@J-Rojas it is ineffective compression and out of scope this plugin, also other plugins (include plugin in webpack) can emit new js assets and you don't compress them. Using loader can't solve problem with memory and cpu usage

[2019-09-11 15:49] J-Rojas commented on #104
@evilebottnawi you are right that the loader is out of scope. I've begun a new project repo for this effort. So far it has addressed my use case, and I don't agree about the insufficient compression. It seems to be very much on par with minifying as a whole.

[2019-09-11 16:34] evilebottnawi commented on #104
Seriously? Webpack provide own boilerplate code and you can't optimize this code using loader. Also as i said above other plugins can emit JS asset too, so this will be unuglified too. You don't win memory and CPU load - only ineffective uglified code. We development webpack a lot of time and have tried all approaches.

[2019-09-11 16:43] J-Rojas commented on #104
No need to become defensive. I don't know anything about the memory and cpu load issues as I do not have a problem with this. I'm addressing my use case and the emperical evidence with my approach using a name cache across minified loaded files shows a similar code size. I'm minifying across at least 150 files. Regardless I will continue with my approach to address my use case. Thanks for the inpu

[2019-09-12 12:59] cdagli opened #152 "ExtractComments fails to extract comments sporadically"
- Operating System: OSX
- Node Version: v12.9.0
- NPM Version: 6.10.3
- webpack Version: 4.39.3
- terser-webpack-plugin Version: 2.0.1

### How Do We Reproduce?

Here is a small repro repository: https://github.com/cdagli/terser-issue-repro

Steps to reproduce:
- Clone and install
- `npm run build` repeatedly and check the output for `dist/vendors-rrule~main.js`

Expected output: https://github.co

[2019-09-12 19:23] #152 closed, assigned to nobody

[2019-09-13 08:26] koggdal commented on #150
@evilebottnawi Thanks! But I still don't see the release notes updated with this listed under breaking changes?

[2019-09-13 08:48] koggdal commented on #150
I didn't realize before that this project made use of both the `CHANGELOG` file and the GitHub releases page. Added a change to the file: https://github.com/webpack-contrib/terser-webpack-plugin/pull/155 If you agree with that one, could you copy that over to the releases page too? :)

[2019-09-14 00:25] J-Rojas commented on #104
I'll leave this here for anyone interested:
https://github.com/J-Rojas/terser-loader

[2019-09-18 11:49] rrelmy commented on #143
Build time more than doubled from 6 minutes to 14 minutes in one of our bigger projects by just updating to version 2 of this dependency.

[2019-09-19 10:16] perry-mitchell opened #159 "extractComments option with custom banner has no effect"
- Operating System: Ubuntu 18
- Node Version: 10.15.0
- NPM Version: 6.4.1
- webpack Version: 4.39.3
- terser-webpack-plugin Version: 2.1.0

### Expected Behavior

I should be able to set a custom banner with the following:

[code]

The following comment should be preserved, with **no others**:

[code]

### Actual Behavior

The expected comment block _is_ preserved, and others stripped, but an _ad

[2019-09-19 10:43] perry-mitchell commented on #159
Even with `output.comments` set to `false` the `For license information please...` text still comes through.

[2019-09-19 10:47] perry-mitchell commented on #159
Nevermind! Issue was confusion regarding which level of options I was on. Sorry!

[2019-09-19 10:47] #159 closed

[2019-09-19 15:03] JoshRobertson commented on #143
Our build time also doubled when upgrading to version 2

[2019-09-20 15:16] sirluis opened #160 "SyntaxError on optimized code"
- Operating System: Manjaro 18.0.4
- Node Version: 8.16.0
- Yarn Version: 1.17.3
- webpack Version: 4.39.1
- terser-webpack-plugin Version: 2.1.0

### Expected Behavior
Optimized code should not contain syntax errors.

### Actual Behavior
Code transformed by terser is broken.
`SyntaxError: missing ) after argument list`

### Code
**babel.config.js**
https://gist.github.com/sirluis/acb158120257480d

[2019-09-20 20:52] alecf opened #161 "Source map breakage with 2.1"
Similar to #112 I have a case where an upgrade breaks the sourcemap

- Operating System: Linux
- Node Version: 10.16.1
- NPM Version: 6.11.3
- webpack Version: 4.40.2
- terser-webpack-plugin Version: 2.1
- ts-loader version: 6.1.0

### Expected Behavior

Source maps should work

### Actual Behavior

Source maps are lost

### Code

Our webpack config is fairly complex (yay..) but details:
1) we use

[2019-09-20 22:59] crobinson42 opened #162 "Terser mangle option seems to cause lodash.chain() to break"
[code]

The offending code:

[code]

[code]

I'm not sure where to begin to debug this issue but I have confirmed that using `mangle: false` option in `terser-webpack-plugin` configs resolves the issue and the code works fine. Any pointers on how to begin debugging this and which direction to go? thx!

[2019-09-21 10:47] yellow1912 opened #163 "Unexpected token punc"
- Operating System: Ubuntu 16
- Node Version: 8.9.0
- NPM Version: 6.4.1
- webpack Version: 4.40.2
- terser-webpack-plugin Version: 1.4.1

### Expected Behavior

I'm trying to run terser with the basic configuration, I expected the resulted code to be processed correctly.

### Actual Behavior

I get the error unexpected token punc from Terser.

### Code

[code]

The reason for the above setting, i

[2019-09-23 10:01] evilebottnawi commented on #162
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Also please open issue in terser repo, we just wrapper around this tool.

[2019-09-23 10:01] #162 closed

[2019-09-23 10:35] evilebottnawi commented on #163
Can reproduce, please create minimum reproducible test repo

[2019-09-23 11:17] evilebottnawi commented on #160
Please open issue in terser repo
/cc @fabiosantoscode

[2019-09-23 11:18] evilebottnawi commented on #161
Please provide full reproducible test repo, thanks

[2019-09-23 11:18] evilebottnawi commented on #143
@rrelmy @JoshRobertson sorry but your comments is not helpful. Please provide information what version you use before, also we have breaking change and generate source maps bsed on devtool value, so now you can generate source map and it is increase build time

[2019-09-23 11:37] yellow1912 commented on #163
Hello,

I have created a repo with minimal code for testing here:

https://github.com/yellow1912/TerserTest

Please note that I use yarn, if that makes any difference.

[2019-09-23 12:35] crobinson42 commented on #162
I didn’t delete the issue template - I chose the option for support since I’m not sure if this is a big and it’s definitely not a feature request. Was just looking for a point in some direction to debug so that I could figure out if I should open a big ticket. Thanks.

Sent from my iPhone

[2019-09-23 14:07] evilebottnawi commented on #163
Problem in webpack, not in plugin

[2019-09-23 14:28] evilebottnawi commented on #163
@yellow1912 Why you use `target: () => undefined` in your case?

[2019-09-23 14:35] yellow1912 commented on #163
I was trying to get rid of the wrapper export code from webpack. But I think that option doesn't help anyone. Webpack still wraps it.

[2019-09-23 14:43] evilebottnawi commented on #163
Yes, you can't remove webpack wrapper, it is not supported right now

[2019-09-23 15:39] evilebottnawi commented on #163
this is intended for custom targets, so you need to add other plugins that fulfill the target plugins role. It doesn't make sense alone

maybe we should throw warning/error in this case, in my todo for webpack, problem is not in plugin

[2019-09-23 15:39] #163 closed

[2019-09-25 18:57] J-Rojas commented on #104
@evilebottnawi I was able to use terser-loader and webpack-terser-plugin in a 2 phase approach to satisfy my requirements (additional property mangling with per module rules) and also achieve superior compression size. Using this approach with a project that utilizes over 400 modules, I was able to get an additional 22% compression prior to gzip, and 10.5% after gzip. So I'd say skillful use of te

[2019-09-25 19:49] evilebottnawi commented on #104
@J-Rojas you can compress multiple times using multiple plugins, can it is very bad for performance, also sometimes can create bugs due bugs in terser side (but very rare)

[2019-09-26 12:55] fabiosantoscode commented on #104
@evilebottnawi thanks for pointing out that Terser bugs are very rare, it's very nice of you <3

[2019-09-26 20:44] sirluis commented on #160
The codebase is huge, I'll isolate the module, minify it using terser alone and open a issue on terser repo. tks

[2019-09-26 22:21] sirluis commented on #160
@evilebottnawi  Where do I find the same terser options that the plugin uses by default? When I use terser alone the result is not the same.

[2019-09-27 06:34] sokra commented on #104
Is it possible to mark a part of the code as preminimized and let terser skip it/emit it unmodified?

[2019-09-27 06:38] sokra commented on #104
Maybe with a comment like `/*#__COMPRESSED__*/function(){...}`. For me it would be fine to allow it only in front of functions. This would make scope analysis easier as no variable declaration can leave the function (you could skip parsing these at all)

[2019-09-27 07:18] J-Rojas commented on #104
@sokra those changes would have to go inside the Terser module, since it would parse the code while looking for these tokens. It should be possible to do this, but it's outside of the scope of this repository. However it would be preferable to control which modules are minified via configuration instead of having to modify the code itself. If you are bundling vendor code together, it would create

[2019-09-27 11:08] evilebottnawi commented on #160
@sirluis please create minimum reproducible test repo, we can't help you without code, we just wrapper around terser so any problem with minify result output terser

[2019-09-27 11:26] fabiosantoscode commented on #160
It's possible to produce a reproduction of a compiler issue by gradually removing code. For example, go into your main file and remove an import, see if the syntax error occurs. If it does, you've just eliminated a lot of code out of your reproduction bundle.

The final code *does not*  need to be correct, useful or even run without runtime errors. It only needs to show this syntax error.

[2019-09-27 11:27] fabiosantoscode commented on #160
But I find it unlikely that Terser would miss a paren when outputting a function call. That's simply not a possibility. Have you tried setting `parallel` to `false` in this plugin's options?

[2019-09-28 03:01] sirluis commented on #160
I've found the issue. Someone forgot to call the function then the variable was replaced by the function itself.

[code]

The result:
[code]
This was not caught by linter either :(.

[2019-09-28 03:01] #160 closed

[2019-09-28 03:06] sirluis commented on #160
The babel output was correct btw.
[code]
Terser is supposed to do this transformation?
Thanks @fabiosantoscode

[2019-09-28 03:16] sirluis commented on #160
Weird that this does not trigger an error at build step.

[2019-09-28 03:18] sirluis commented on #160
Terser is supposed to replace the content of the variable by the function itself?

[2019-09-30 14:48] filipesilva commented on #104
I think I see what @sokra is thinking about. Let me give a concrete example.

Imagine you have these files:
[code]

When these files are bundled with module concatenation turned on, you end up with three modules:
- a concatenated module containing `index.js` and `static.js`
- a module containing `commonjs.js`
- a module containing `lazy.js`

`common.js` and `lazy.js` could not be concatenated beca

[2019-09-30 14:50] evilebottnawi commented on #104
Here potential problem as tree shaking, we can lose some `__COMPRESSED__` comments

[2019-09-30 14:51] evilebottnawi commented on #104
And we still have big memory usage, because big file still in memory, i think better solution here is searching how we can optimize memory/cpu usage on terser side

[2019-09-30 15:10] evilebottnawi commented on #104
maybe you can provide example? usually memory consumption increased only when source map enabled

`/*#__COMPRESSED__*/` is not safe, because we really can lost some comments on difference optimization stages.

[2019-09-30 15:27] filipesilva commented on #104
https://github.com/vmware/clarity is a project I benchmarked in the past and stored the results in https://github.com/filipesilva/angular-cli-perf-benchmark.
[code]

The important part is this:
[code]

The first time the build ran, it took 4962 MB of RAM. Subsequent times it only took around 1700 MB because it was using the `terser-webpack-plugin` cache so it didn't run again.

You can reproduce t

[2019-09-30 15:37] evilebottnawi commented on #104
Thanks for repo, i still thing we can optimize terser, potentially terser can split source file on parts for reducing memory usage (he already parse so it should be not hard). in fact, this should be done on the `terser` side. You still will get same error when will use terser without webpack.

[2019-09-30 21:15] J-Rojas commented on #104
@filipesilva the multiple pass approach is what I'm using in my project with 400+ module files. I'm using `terser-loader` to process module files with a set of custom rules for each file. Then I use `terser-webpack-plugin` to optimize the final result. The 'compressed' token could be added to Terser, but you could also re-organize your code into modules files that will be compressed or uncompresse

[2019-09-30 21:51] fabiosantoscode commented on #104
Any help on finding out where Terser is using too much RAM are appreciated. I haven't gotten the time to learn how people optimize RAM usage these days and get Terser even through the simplest of testing/inspector stuff.

In the meantime I'm switching some stuff to use bitfields for CPU reasons, I guess this will save a little bit of RAM as well.

I don't see Terser going multiprocess unless it so

[2019-09-30 21:53] fabiosantoscode commented on #104
WRT already-compressed code I think something like the annotation @filipesilva would be pretty cool. Terser (and UglifyJS as well) historically sucks at re-compressing compressed files. Oh, the mysteries life has for us. I have zero idea of why that might be happening.

[2019-09-30 22:24] evilebottnawi commented on #104
@fabiosantoscode i don't think we have problems with cpu usage, only memory, i think it can be easy debugging, just create big file (or get from reproducible test repo above) and run terser using own cli with `--inspect` and profile memory (for example terser return AST in option when you use `minify`, but this ast no need so we can reduce memory usage to remove ast).

Example of code (we have ter

[2019-10-01 10:58] evilebottnawi commented on #104
@filipesilva thanks, maybe we can use typed arrays, map and set (weak) in terser, what should be potentially decrease memory usage

We have already pretty much optimized everything on our side, anyway if somebody have ideas PR/feedback welcome

[2019-10-01 11:54] filipesilva commented on #104
Terser performance tracking issue (https://github.com/terser/terser/issues/478), including a benchmark repo (https://github.com/filipesilva/terser-performance).

[2019-10-09 16:26] webpack-bot opened #169 "Source map gets broken after entry name change and rebuild"
# Bug report

**What is the current behavior?**
There is no problem when the project is built initially. Then if the entry name changes and the project gets rebuilt again — the source map gets broken, it doesn't work properly in chrome dev tools and `sources` property doesn't contain actual sources, but instead the bundle filename from the previous build.

If you delete `node_modules` folder, rein

[2019-10-09 16:39] evilebottnawi commented on #161
Closing due to inactivity. Please test with latest version and feel free to reopen or create new issue with reproducible test repo if still regressions. Thanks!

[2019-10-09 16:39] #161 closed

[2019-10-10 17:50] #169 closed

[2019-10-10 18:12] evilebottnawi opened #172 "map webpack@5 options to terser"
- Operating System: any
- Node Version: any
- NPM Version: any
- webpack Version: 5
- terser-webpack-plugin Version: latest

### Feature Proposal

https://github.com/webpack/webpack/pull/9784/files#diff-7473dd12403a310ad8cf18d0ab9f10b9R447

### Feature Use Case

Better integration

[2019-10-10 21:01] kopax opened #173 "Terser@4.1.5 broken"
I have traced an error coming from react-styleguidist that use this plugin.

The `terser@4.3.4` is the last working version, between `4.3.5` and `4.3.8` I got all my build broken with `Maximum call stack size`

- https://github.com/terser/terser/issues/490
- https://github.com/styleguidist/react-styleguidist/issues/1441

Could we please fix terser while waiting they release a fix and publish a new

[2019-10-10 21:13] evilebottnawi commented on #173
They fixed other bugs (degradation create other bugs), better wait official release terser and as i written before use `lock` file in future :smile:

[2019-10-10 22:25] amcclain commented on #173
Curious - does this project need to specify the terser version out to the patch version so specifically?

We are also seeing issues with the latest versions of terser. We're pinning terser@4.3.4, but when resolving deps yarn will warn with `Resolution field "terser@4.3.4" is incompatible with requested version "terser@^4.3.8"`.  We can ignore that and keep pushing onwards, but I am curious if the

[2019-10-10 22:28] evilebottnawi commented on #173
You can ignore this warning, we will do this because some developers don't update their lock file and use old npm/yarn version (Some of them have not been updated transitive deps before). I think it's time to not do this anymore. we have compatibility with `terser@3` and `terser@4` (any minor and any patch versions)

[2019-10-10 23:07] kopax commented on #173
I still believe lock file are not the solution here.

In fact, I have no lock file in all my modules and I was able to build one using `--before=2019-09-01`, so this is not the issue.

I have found terser was the issue thanks to the diff of two lock file.

If you just release a fix, and then re-release on official, then you will revert a change on a good library for a change on a bad library. I ha

[2019-10-10 23:36] evilebottnawi commented on #173
What do you mean? Terser fix some problems in latest version but get new bugs, revert to `4.3.4` return old bugs but avoid new, so there is no perfect solution (in both cases you can potentially get bugs). I'd rather wait a bit new terser patch release than do revert.

If you use lock file you you might not have to worry about it at all because you would use the old version of `terser` plugin and

[2019-10-10 23:53] kopax commented on #173
I meant that 4.3.4 is working for the most and 4.3.5 is supposed to fix things for the few.
If everytime a fix goes wrong and package owner refuse to revert fix then we have an issue using semver. At first 4.3.5 should have mot been release and 4.3.4 should have been tested.

I understand why you prefere to wait tomorrow and see if the owner of terser manifest his self, but if he don't it would be

[2019-10-14 08:32] webpack-bot opened #174 "webpack warningsFilter breaks for "i.test(source)" test; OK for "i.test(warning)""
I've a webpack4 project, with Terser plugin,
[code]

using its 'warningsFilter',

	https://webpack.js.org/plugins/terser-webpack-plugin/

to quiet some warnings.

as co'd for a testCase,
[code]

where, Terser config matches warnings only
[code]

a build
[code]

correctly DISPLAYS all message WARNINGS,
[code]

I can effectively toggle the action
[code]
so that all matching warnings are hidden. as i

[2019-10-14 17:09] amcclain commented on #173
Thanks for the reply. Understood we can ignore the warning, but it gets flagged in CI, we get questions on it, etc. But we're happily ignoring it now 😄.

That said, I agree when you say "it's time to not do this anymore" - you could let the downstream developers be responsible for taking updates into their lock files (or not) as works for them, and only specify the minimum versions that are requir

[2019-10-14 20:17] kopax commented on #173
I agree. But that said, I am still stuck and a small action could be taken to solve this for end users in my situation. If https://github.com/styleguidist/react-styleguidist/pull/1443 get passed then we react-styleguidist and terser user can go around that problem. I still thing that a fixed version is apporpriate, and this is what I generally do in all my repo of [bootstrap-styled](https://github

[2019-10-15 11:20] evilebottnawi commented on #173
/cc @fabiosantoscode friendly ping, bug fixed?

[2019-10-15 11:30] kopax commented on #173
Related: https://github.com/styleguidist/react-styleguidist/issues/1444#issuecomment-542164612

[2019-10-15 13:01] fabiosantoscode commented on #173
I will be reverting what is probably the culprit commit today. I've been trying to reproduce this with a minimal code sample, but since it's webpack (I suppose) being called with react-styleguidist without access to changing options it's really hard to reproduce.

[2019-10-15 13:10] fabiosantoscode commented on #173
Just so you have an idea, I've replaced `terser` with a symbolic link to my development terser, and patched the minify function such that it doesn't minify at all. However, the output is still minfied :/

[2019-10-15 13:12] fabiosantoscode commented on #173
Oh, my bad. I hit a cache.

[2019-10-16 10:19] fabiosantoscode commented on #173
New Terser version should be fixed now.

[2019-10-16 12:05] kopax commented on #173
it's true, thanks for fixing this.

[2019-10-16 12:05] #173 closed

[2019-10-18 22:51] daveisfera opened #175 "Support for other devtool options for development mode"
- Operating System: macOS 10.14.6
- Node Version: 12.11.1
- NPM Version: 6.11.3
- webpack Version: 4.41.0
- terser-webpack-plugin Version: 1.4.1

### Feature Proposal
Support more options for `devtool`, in particular, the development friendly ones

### Feature Use Case
Currently, only the slowest options for `devtool` are supported, but this makes development builds take longer than they need to a

[2019-10-19 12:55] evilebottnawi commented on #175
Unfortunately, support for others is not possible for technical reasons, for example `eval*` can't be handled `terser`, also many of devtool for development mode, where unnecessary use minimizer. Anyway i mark this as `enhancement` if somebody have idea how it can be implemented. PR welcome.

[2019-10-19 16:12] daveisfera commented on #175
That makes sense. Go ahead and close this out, if there's not a good way to do this.

[2019-10-21 12:02] evilebottnawi commented on #174
`source` taken from `sourceMap` so you should `main.js`, it is not module

Expected, because **should** in this case you return `undefined` what means falsy in JS

I will update docs and add tests for these cases.

[2019-10-21 12:02] #174 closed

[2019-10-21 13:34] #172 closed

[2019-10-21 15:07] #71 closed

[2019-10-21 17:36] evilebottnawi commented on #116
Done

[2019-10-21 17:36] #116 closed

[2019-10-21 19:33] hal869 commented on #174
@evilebottnawi

Sry, I just can't manage to understand either of

or

Re

can you maybe point (url?) to any actual correct usage examples?

thx

[2019-10-21 19:36] evilebottnawi commented on #174
https://github.com/webpack-contrib/terser-webpack-plugin#warningsfilter use 3 argument (release will be tomorrow)

[2019-10-25 01:13] korya commented on #143
Same story here. After we upgraded `terser-webpack-plugin` from `v1.4.1` to `v2.2.1` the build process started to run out of memory. As a result, our CI builds started to fail. We have some big chunks though: 5 over 1MB, 2 over 2MB. Degrading back to `v1.4.1` resolves the problem. Turning off parallel build resolves the problem as well.

The error that we get:

[code]

Below are the results summar

[2019-10-25 01:57] greggman commented on #159
Can you explain your confusing because I've spent the last hour trying to get a custom banner back I have no idea what "confusion regarding which level of options I was on" means

[2019-10-25 10:31] evilebottnawi commented on #143
@korya can you create reproducible test repo?

[2019-10-25 18:04] korya commented on #143
@evilebottnawi Sorry, I will probably won't able to do it. Our repository is private, and coming up with an artificial example to reproduce this issue would be a nightmare.

It seems that the memory consumption of the plugin just grew up. The `v1.4.1` is OK, but it is probably very close to hitting the memory limit. The `v2.2.1`'s memory consumption grew up (maybe a lot, but maybe just a bit) and

[2019-10-28 11:13] evilebottnawi commented on #143
@korya anyway thanks for feedback, yes new version require more memory:
- now we don't break source maps anymore
- better parallel support

All this requires a little more memory. We have an issue to reduce memory/cpu usage https://github.com/terser/terser/issues/478.

[2019-11-05 12:30] mateder commented on #143
@korya We had the same error and the same behaviour.

The childprocesses immediately return with an error code of 1 and after a number of retries the error message occurs. I turned off the silent option in ChildProcessWorker.js (of jest-worker).
Then i got following error message: `error: unknown option '--trace-deprecation'`

Our build scripts had --trace-deprecation enabled and somehow the child

[2019-11-05 12:32] evilebottnawi commented on #143
@mateder Can you create minimum reproducible test repo?

[2019-11-19 00:10] coreyward opened #182 "Cache files being created with restrictive permissions"
- Operating System: macOS 10.14
- Node Version: 12
- NPM Version:
- webpack Version: 4.41
- terser-webpack-plugin Version: 1.4.1

### Expected Behavior

Files created under `node_modules/.cache/terser-webpack-plugin/` should be user-writable (0644) to allow for non-forced removal (e.g. `rm -r node_modules/.cache` should not prompt for confirmation).

### Actual Behavior

Files are being created wi

[2019-11-24 13:24] dhirajforyou commented on #57
Yes. It does work.
`"terser": "^4.0.0",
"webpack": "^4.32.2",
`
and terserOptions are mentioned as:

`compress:{
                  pure_funcs: ['console.info', 'console.debug', 'console.warn']
}`

Let me know if you need any help in setting it up

[2019-11-26 08:37] reeli opened #184 "Unused module was transformed wrongly"
I imported `fn1` from fn.ts in index.ts, but I have a few unused modules in fn.ts. When I look into my bundle.js I see the parameter of `createNameCreator` was transformed to a variable `var name; name="Tony"`.

[code]

[code]

![image](https://user-images.githubusercontent.com/8966348/69611889-b1deca80-1069-11ea-9b65-8788b6569480.png)

[2019-11-26 09:46] evilebottnawi commented on #184
Not related to `terser-webpack-plugin`, sorry, it is minificator and he do not concatenate modules

[2019-11-26 09:46] #184 closed

[2019-11-27 12:46] REPTILEHAUS opened #185 "Never ending WARNING in Terser Plugin from all libs in application"
- Operating System: OSX
- Node Version: v10.16.0
- NPM Version: 6.9.0
- webpack Version: Unsure its set by latest ionic
- terser-webpack-plugin Version: Unsure its set by latest ionic

### Expected Behavior

For compilation to happen without so many warnings

### Actual Behavior

I get tons of lines of warnings from almost every library in use, can they be silenced ?

[code]

[2019-11-27 12:51] evilebottnawi commented on #185
Using option https://github.com/webpack-contrib/terser-webpack-plugin#warningsfilter

[2019-11-27 12:51] #185 closed

[2019-12-02 13:24] aulbach opened #187 "Sourcemaps not working with minification"
- Operating System: Windows10
- Node Version: v12.13.0
- NPM Version: 6.12.0
- webpack Version: 4.41.2
- terser-webpack-plugin Version: 1.4.1

### Expected Behavior

Sourcemap of typescript stack is logged on error.

### Actual Behavior

Sourcemaps logs stack of compiled javascript, which is useless for typescript application. It works, if we turn minification off.

### Code

No code needed

### H

[2019-12-02 13:27] evilebottnawi commented on #187
Please create reproducible test repo, i can't understand problem `not working with minification`

[2019-12-03 09:46] aulbach commented on #187
I'm sorry, we invested yesterday some hours to find out, what's not working.
For example, we tested it with 2.1, by using  `minimizer: [new TerserPlugin()],`, but same effect. We tried to turn off caching. And some more ideas. All ideas didn't change the outcome - see above.
What we didn't tried is to look, if the problem comes from terser itself. But because we had a solution for our problem and

[2019-12-03 09:46] #187 closed

[2019-12-03 16:39] ahmedelgabri commented on #143
Same problem started to appear for us & nothing changed other than adding a new package to our build. In our case also, `parallel` doesn't make much of a difference instead the issue is `sourceMaps` if set to `false` everything works fine. Otherwise out of memory errors.

I tried these versions, `1.3.0` (the one we have), `1.4.1` & `2.2.1` all of them fail.

[2019-12-04 09:34] evilebottnawi commented on #143
@ahmedelgabri maybe you can create reproducible test repo, i will investigate that

[2019-12-05 09:27] ahmedelgabri commented on #143
@evilebottnawi Same here. The problem as I see it is that when the number of chunks grow (in number & also in size) the plugin can't handle this anymore.

[2019-12-05 09:30] evilebottnawi commented on #143
@ahmedelgabri can you try to increase nodejs memory usage? Sometimes it is impossible to solve without increase memory

[2019-12-05 09:44] ahmedelgabri commented on #143
Yeah I was just about to do that after reading https://github.com/facebook/docusaurus/issues/1782, but this is just a workaround…

[2019-12-05 10:04] endiliey commented on #143
I think its also worth it to investigate if it's solely terser-webpack-plugin problem. The thing is, a lot of other webpack plugins also consume a lot of memories, and that makes the nodejs garbage collection slow. It just happens that terser-webpack-plugin also uses lot of memory and happen to be run at the last part of compilation, making it seems it consumes a lot of memory.

In particular sour

[2019-12-05 10:08] ahmedelgabri commented on #143
I think it definitely is a terser issue, because normally our build without terser is ~2mins with terser is ~9mins & in this case – out of memory issue – if I disable `terser`'s sourcemap option (or even disable minification completely) everything works fine.  But if I enable `sourcemap` in terser I get the out of memory issue.

[2019-12-05 10:16] endiliey commented on #143
Cool then, I think its indeed true that terser v2 consumes more memory. Now I wonder if we can help something for this. I think it's also very related to https://github.com/terser/terser since this is just a plugin that wraps terser to webpack. I dont know much about terser internal codebase so I guess we can only be patient 😉

[2019-12-05 10:23] ahmedelgabri commented on #143
Might be webpack-plugin specific too, according to https://github.com/terser/terser/issues/164

[2019-12-05 10:42] ahmedelgabri commented on #143
So I tried that, it worked but the build now takes 19mins!

[code]

[2019-12-05 20:18] RDIL opened #188 "[SECURITY] Serialize-javascript needs an update"
GitHub is raising security alerts because of the dependency path `react-scripts/terser-webpack-plugin/serialize-javascript`.  Please update to 2.1.1 to stop it.

[2019-12-06 09:14] evilebottnawi commented on #188
Update deps and lock file

[2019-12-06 09:14] #188 closed

[2019-12-06 12:21] RDIL commented on #188
@evilebottnawi can you please release so I can update it in react-scripts?

[2019-12-06 12:28] evilebottnawi commented on #188
yes, near future

[2019-12-06 14:04] willdurand commented on #188
@evilebottnawi would it be possible to backport the fix for this issue in `1.4.x`? Webpack 4 relies on the version `1.4` of this plugin.

[2019-12-06 14:07] evilebottnawi commented on #188
@evilebottnawi i strongly recommend migrate on latest version, or just update lock file, if you update lock files problem disappears

[2019-12-06 14:12] willdurand commented on #188
As I previously mentioned, the latest webpack version (`4.41.2`) relies on version `1.4.x` of this plugin: https://github.com/webpack/webpack/blob/v4.41.2/package.json#L28 so all webpack users will automatically pull the latest version `1.4.x` of this plugin, which is `1.4.1`.

Backporting the dependency update in this lib and releasing `1.4.2` will automatically make all webpack users safe. I don

[2019-12-06 14:20] evilebottnawi commented on #188
Latest users get latest version so they are no affected, for current users i recommended update lock file, yes we can do backport, but it is transitive dependency so better solution is just update lock file

[2019-12-06 14:25] willdurand commented on #188
I don't understand, installing the latest webpack version will NOT pull the version `2` of this lib because it is a transitive dependency. The version `1.4.1` of this plugin will pull `serialize-javascript` version `1.x`: https://github.com/webpack-contrib/terser-webpack-plugin/blob/aa12914c34f3eac7280052dad3de465a163630d7/package.json#L44

[code]

[2019-12-06 14:27] evilebottnawi commented on #188
Oh, i see, let's do it, WIP

[2019-12-06 14:37] evilebottnawi commented on #188
@willdurand Done https://www.npmjs.com/package/terser-webpack-plugin

[2019-12-06 15:10] willdurand commented on #188
awesome, thanks!

[2019-12-06 19:25] fabiosantoscode commented on #143
Doesn't reverting the terser-webpack-plugin version fix the issue? Or disabling parallelism? Terser has been using the same amount of memory since it was forked off UglifyJS.

I'm looking into ways of using less RAM, but they are going to take a while because the current status quo is very memory efficient. The only thing that might be changed is the fact that we load all the AST into RAM. While t

[2019-12-06 19:30] ahmedelgabri commented on #143
In my case none of this worked, the only thing that worked was disabling sourcemaps (which is not an option) or increase memory.

[2019-12-06 19:36] fabiosantoscode commented on #143
@ahmedelgabri so you've tried to set parallel: false?

[2019-12-06 19:57] ahmedelgabri commented on #143
@fabiosantoscode I did, yes.

[2019-12-09 12:38] filipesilva commented on #143
Heya, I made a repo with some benchmarks comparing `terser-webpack-plugin@2.2.2` and `terser-webpack-plugin@1.4.2`, as well as using `parallel: 2` and `parallel: false`, on a codebase that produces around 300 small lazy chunks. You can find the repro in https://github.com/filipesilva/terser-webpack-plugin-143.

For this codebase I couldn't really see a memory regression on `2.2.2`. If anything it

[2019-12-09 12:48] filipesilva commented on #143
I also wanted to try with the original repro using the `angular-devkit-benchmark-0.800.0-beta.18.tgz` benchmark package inside the repro in my comment above, but following the original instructions I got the error below:
[code]

Maybe @nick can try.

[2019-12-09 14:32] jodydeanrogan opened #193 "serialize-javascript dependency: regular expressions Cross-Site Scripting (XSS) vulnerability"
Would it be possible to upgrade serialize-javascript dependency to version 2.1.1 or later? https://github.com/advisories/GHSA-h9rv-jmmf-4pgx

Many thanks

[2019-12-09 14:34] evilebottnawi commented on #193
Already fixed

[2019-12-09 14:34] #193 closed

[2019-12-09 17:40] jabczyk opened #194 "Vulnerable dependency: serialize-javascript@1.9.1"
- Operating System: Windows 10 Home
- Node Version: v10.15.3
- NPM Version: 6.4.1
- webpack Version: 4.41.0
- terser-webpack-plugin Version: 1.4.1

### Expected Behavior
Bump `serialize-javascript` dependency to version 2.2.1 or later.

### Actual Behavior
Package `serialize-javascript@1.9.1` has a regular expressions Cross-Site Scripting (XSS) vulnerability that was fixed in version `2.1.1`. It s

[2019-12-09 17:47] jabczyk commented on #194
Figured out it's already fixed. Sorry.

[2019-12-09 17:47] #194 closed

[2019-12-11 08:31] borit22 opened #196 "Cross-Site Scripting vulnerability in version 2.2.2"
- Operating System: Windows 7 SP1 x64
- Node Version: 12.13.1
- NPM Version: 6.13.2
- webpack Version: 4.41.2
- terser-webpack-plugin Version: 2.2.2

### Expected Behavior

no vulnerability

### Actual Behavior

Moderate        Cross-Site Scripting

Package         serialize-javascript

Dependency of   webpack [dev]

Path            webpack > terser-webpack-plugin > serialize-javascript

### Code

[2019-12-11 08:35] borit22 commented on #196
[serialize-javascript](https://github.com/yahoo/serialize-javascript) fixed it in version 2.1.1(2.1.2 lastest for now)

[2019-12-11 10:05] evilebottnawi commented on #196
Fixed

[2019-12-11 10:05] #196 closed

[2019-12-11 15:56] mohojojo opened #197 "Build fails, missing package"
Since new release 1.4.3 jenkins build fails

npm WARN prepare removing existing node_modules/ before installation
npm ERR! code ETARGET
npm ERR! notarget No matching version found for terser-webpack-plugin@1.4.3
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.

[2019-12-11 16:12] evilebottnawi commented on #197
All fine https://www.npmjs.com/package/terser-webpack-plugin, use default register or open issue in jenkins repo

[2019-12-11 16:12] #197 closed

[2019-12-12 10:20] deepaktatineni opened #198 "Legacy teser-webpack-plugin security advisory"
https://github.com/advisories/GHSA-h9rv-jmmf-4pgx - update serialize-javascript version to >=2.1.1

[2019-12-12 10:26] evilebottnawi commented on #198
Already fixed, please look at package.json before create issue

[2019-12-12 10:26] #198 closed

[2019-12-12 11:20] deepaktatineni commented on #198
It's not fixed in webpack3 legacy branch.

https://github.com/webpack-contrib/terser-webpack-plugin/blob/996a480d043a7d6c00065bb95eccd5b9d0ede89d/package.json#L46

Sorry, It is my mistake of titling the issue.

[2019-12-12 11:23] evilebottnawi commented on #198
https://github.com/webpack-contrib/terser-webpack-plugin/blob/version-1/package.json#L44

[2019-12-12 11:24] evilebottnawi commented on #198
Update your deps, please read how package mangers work

[2019-12-12 11:39] deepaktatineni commented on #198
Sorry, but I am talking about https://www.npmjs.com/package/terser-webpack-plugin-legacy, not the terser-webpack-plugin

[2019-12-12 11:41] evilebottnawi commented on #198
Legacy is not supported anymore, please update webpack to 4 version

[2019-12-13 16:08] MaxGenash commented on #143
Got a similar problem when setting `sourceMap: true`.

For me, **the solution was to start using node.js v13.3 instead of v12.6**.

Details of my case:
For terser-webpack-plugin v2 the error was:
[code]
For terser-webpack-plugin v1 the error was just:
[code]

[2019-12-16 14:06] fabiosantoscode commented on #143
According to the node.js changelog, they've updated V8, which appears to save some memory.

Regarding Terser's use of memory, I've looked at a more efficient (CPU and memory as well) parser, [https://github.com/meriyah/meriyah](meriyah), which seems to use 85% as much memory as Terser does (I tested this in node 12. In node 13, they both use less memory but the proportion remains at 85%). This is

[2019-12-16 14:10] evilebottnawi commented on #143
@fabiosantoscode

I described above why it is impossible, sorry, a lot of plugin can include own content and we generate runtime what should be too minimized, so it is big braking change and it will be very bad for DX

[2019-12-16 14:27] filipesilva commented on #143
For reference, https://github.com/webpack-contrib/terser-webpack-plugin/issues/104 is the tracking issue for per-module parsing and contains more context on this topic.

[2019-12-16 14:30] evilebottnawi commented on #143
@fabiosantoscode why do not switch on acorn for parsing? It is very stable and fast and consume very memory usage

[2019-12-16 17:52] fabiosantoscode commented on #143
@evilebottnawi in my test it uses just 1mb less than meriyah.

[2019-12-16 17:54] evilebottnawi commented on #143
@fabiosantoscode will be great to look on table like: current parser vs meriyah vs acorn

[2019-12-16 17:55] fabiosantoscode commented on #143
@evilebottnawi is it possible to minify the external code as a whole, without including the internal code?

For example:

[code]

Where `deadbeef` is a randomly generated hex string.

Then `the_modules_deadbeef` can be replaced with the real modules (which I suppose don't have to be minified together with everything else).

[2019-12-16 17:57] fabiosantoscode commented on #143
No time for tables but here's the three parsers doing the same thing (parse 3 times and store in different global variables, then console.log(process.memoryUsage())):

[code]

[2019-12-16 18:10] evilebottnawi commented on #143
No, we **can't** minify code by modules, honestly I'm tired of explaining that this is not possible (it is possible, but it is very ineffective), we do a lot of optimization like module concating/remove unused imports,exports/a lot of optimization, we don't known in which position other developer include own code, also developers can modify any part of code when we do compilation + we have own run

[2019-12-16 18:21] fabiosantoscode commented on #143
@evilebottnawi thanks for making that clear. I didn't know the whole story, that's why I asked :)

Does webpack at any point in time hold an entire chunk in ESTree form? Or is the code turned into a string before being passed to Terser?

Acorn does improve memory consumption, but it's a big deal to change terser to use the standard ESTree AST. Terser currently uses its own AST and it would be a ma

[2019-12-16 18:21] fabiosantoscode commented on #143
@filipesilva sorry for not responding to your comment, I've cloned your repo and all but didn't reply at the time :) thanks for looking into this.

[2019-12-16 21:38] fabiosantoscode commented on #143
@evilebottnawi found the leak! It is a tiny leak unless you pass a gigantic chunk to Terser. I'll plug it when I can and ship.

[2019-12-16 22:52] fabiosantoscode commented on #143
Terser 4.4.3 released. I think this can be closed now. I have identified a new way to save memory and will open an issue here.

[2019-12-16 22:56] fabiosantoscode commented on #175
@evilebottnawi is Terser not behaving as it should in the face of `eval` for some reason? Please do let me know.

[2019-12-16 23:00] fabiosantoscode opened #199 "Don't JSON.parse the output source map"
- Operating System: N/A
- Node Version: N/A
- NPM Version: N/A
- webpack Version: N/A
- terser-webpack-plugin Version: N/A

### Feature Proposal

I've noticed that this plugin does a JSON.parse of the `map` output by Terser ([link](https://github.com/webpack-contrib/terser-webpack-plugin/blob/master/src/index.js#L440)). However, it's possible to ask Terser not to JSON.stringify it in the first pla

[2019-12-17 09:46] evilebottnawi commented on #199
Thanks, let's do it

[2019-12-17 09:55] evilebottnawi commented on #175
@fabiosantoscode because we have code + source maps inside `eval` function, so it is normal what terser doesn't handle that :smile:

[2019-12-17 11:03] #199 closed

[2019-12-17 11:05] evilebottnawi commented on #143
Please try https://github.com/webpack-contrib/terser-webpack-plugin/releases/tag/v2.3.1, should be faster and consume less memory, feedback welcome

[2019-12-17 11:46] fabiosantoscode commented on #175
@evilebottnawi Terser can minify `new Function(...)` in some situations, given the `unsafe_Function` option is enabled. If required, we can minify eval as well.

[2019-12-17 11:48] fabiosantoscode commented on #199
Awesome :D

[2019-12-17 11:49] fabiosantoscode commented on #143
Also @evilebottnawi if the input is an ESTree AST, Terser can handle that as well. It has a ESTree-to-terser converter which can be used if the input is already an AST.

[2019-12-17 12:22] evilebottnawi commented on #175
@fabiosantoscode it will be great :smile: , just do simple example webpack config with `devtool: 'eval'` and look how at this

[2019-12-17 16:56] felixscheinost opened #201 "Mangled variable name shadows other variable: async + keep_fnames"
- Operating System: macOS 10.14.6 Mojave
- Node Version: v12.12.0 `yarn node --version`
- NPM Version: yarn 1.19.1
- webpack Version: 4.41.2
- terser-webpack-plugin Version: 2.3.0

### Expected Behavior

When having `keep_fnames` turned on a mangled parameter name shouldn't shadow or be shadowed by a kept function name.

### Actual Behavior

Outer variable name is mangled to `t` which conflicts wi

[2019-12-17 16:56] evilebottnawi commented on #201
We just wrapper around `terser` https://github.com/terser/terser, please open issue in `terser` repo

[2019-12-17 16:56] #201 closed

[2019-12-18 17:55] happypoulp opened #202 "Since 2.3.0, webpack builds on CircleCI fail with "Error: Call retries were exceeded""
- Operating System: ubuntu:18.04 (from CircleCI)
- Node Version: v10.13.0
- NPM Version: 6.10.0
- webpack Version: 4.29.6
- terser-webpack-plugin Version: >= 2.3.0

### Expected Behavior

Building webpack JS bundles on CircleCI should be working the same for version 2.2.3 and versions >= 2.3.0.

### Actual Behavior

Builds succeeds for terser-webpack-plugin v2.2.3 and are not working for terser-we

[2019-12-19 08:37] happypoulp commented on #202
Actually I think my analysis was incorrect. It seems the issue also reproduces with version 2.2.3 (it just doesn't happen when debugging a failing build on CircleCI with SSH, only when running a "real" CircleCI build). Will close this issue as it is probably the same as https://github.com/webpack-contrib/terser-webpack-plugin/issues/143 .

[2019-12-19 10:09] evilebottnawi commented on #143
@aaronjensen maybe you can create reproducible test repo?

[2019-12-19 18:56] aaronjensen commented on #143
@evilebottnawi Sorry, but I don't see how I could. The code is closed source and it's likely the specifics of the code that's causing the issue. Furthermore, I cannot reproduce it locally, it only happens on CI and only occasionally.

[2019-12-20 13:16] fabiosantoscode commented on #143
@aaronjensen can you reproduce it by creating a regular build (without eval('source code of module') in each module) and passing it on to Terser?

[2019-12-20 15:42] pustovalov commented on #143
Also get this error on CircleCI with this container `2CPU/4096MB`

Setup

[code]

Compile in two threads by parallel-webpack

[code]

The error appears when there is no cache in `node_modules/.cache`

Total size of assets: 12MB
Total count of files: 314

three largest files:
[code]

Increasing the container to `3CPU/6144MB` with `--max-old-space-size=5900
` solved this problem

So far it has not b

[2019-12-20 15:43] evilebottnawi commented on #143
Something wrong with parallels on CI, maybe bug in jest-worker

[2019-12-23 13:07] martijn10kb commented on #143
@korya [#issuecomment-546160327](#issuecomment-546160327) helped me a lot! Thanks!

[2019-12-23 13:09] evilebottnawi commented on #143
It is happens only on CI?

[2019-12-23 13:14] martijn10kb commented on #143
Yes, for me it only happend in CI, we tried to do the exact same thing as CI does locally. But locally it just worked and CI crashed. The turning off of the parallel feature of module `terser-webpack-plugin` worked for me.

[2019-12-24 07:33] evilebottnawi commented on #143
@martijn10kb can you provide information about environment in CI (os, version, count of CPU, memory, etc)?

[2019-12-26 16:19] tstirrat15 commented on #143
I'm seeing a similar issue, but what I'm currently more concerned about is that when the build process fails because of this, the webpack process still returns 0:

[code]
Is this a misconfiguration on my end, or is this some sort of bug?

[2019-12-26 16:40] evilebottnawi commented on #143
@tstirrat15 can you create reproducible test repo, looks like bug in `jest-worker`

[2019-12-30 14:56] tstirrat15 commented on #143
Mmmmmaybe? I'd be very surprised if it weren't very sensitive to the environment. Is it worth opening a bug over on that repo?

[2020-01-03 10:54] hencatsmith commented on #143
We came to the conclusion that this is being caused by the [`worker-farm`](https://github.com/gzzhanghao/worker-farm) dependency, which [detects the CPU count using `require('os').cpus().length`](https://github.com/gzzhanghao/worker-farm/blob/731926b67861d2bc7d2974e6ea775d340637fd1a/src/WorkerFarm.js#L7).

![Screenshot 2020-01-03 at 11 43 24](https://user-images.githubusercontent.com/566159/717193

[2020-01-03 14:00] evilebottnawi commented on #143
@hencatsmith in new version we don't use `worker-farm`, we migrate on `jest-worker`

@tstirrat15 Can you try https://github.com/webpack-contrib/terser-webpack-plugin/pull/203 ? It should be show normal error

[2020-01-03 15:47] fabiosantoscode commented on #143
Nice going @hencatsmith.

Does jest-worker make the same miscount?

os.cpus().length is also not the best way to count CPU cores. It counts hylerthreads, which, for truly CPU bound applications is not OK. This package retrieves the correct count: https://www.npmjs.com/package/physical-cpu-count

[2020-01-03 15:50] evilebottnawi commented on #143
I don't think what is `miscount`. If we have the ability to use 36 threads, why don't we use them?

[2020-01-03 15:52] aaronjensen commented on #143
@evilebottnawi this is a common problem in shared VMs. The 36 is a lie.

https://support.circleci.com/hc/en-us/articles/360005442714-Your-test-tools-are-smart-and-that-s-a-problem-Learn-about-when-optimization-goes-wrong-

[2020-01-03 15:58] evilebottnawi commented on #143
@aaronjensen we have the option for this so you can setup a right value

[2020-01-03 16:38] hencatsmith commented on #143
Yeah @fabiosantoscode i think i see the same implementation in `jest-worker`

![IMG_0455](https://user-images.githubusercontent.com/566159/71735651-47326300-2e4f-11ea-9c2c-0af3fec5e760.jpeg)

But I’ll have to wait and double check if the issue persists in the actual Gatsby + Circle CI environment I first encountered it in next week at the office. It should be easy enough to confirm by removing tha

[2020-01-03 18:48] fabiosantoscode commented on #143
If the 36 is an issue in jest-worker too then we can just open an issue there. That said, I think this can be closed?

[2020-01-03 19:50] hencatsmith commented on #143
Possibly yeah! Might be good to fix this as deep as possible in the dependency tree as it’s probably quite widespread in its impact

[2020-01-07 20:26] antgonzales opened #204 "Set Terser to specific minor version"
Our team recently had a hiccup with Terser itself removing code due to these changes:
https://github.com/terser/terser/commit/c01ea650ba2f596cac226aa481d35e9efabe777f#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR5

When changes recently became public from the Terser team,  `4.4.3` to `4.5.1`, we encountered breakage on upgrade without explicitly updating the webpack terser plugin.

- Operating System: ma

[2020-01-07 21:25] #204 closed

[2020-01-09 03:44] SebastienGllmt commented on #21
I spent like an hour trying to figure out why Terser refused to run in parallel no matter what I did only to realize that parallel is disabled if you are on WSL. I'm currently on Windows build 19041 (Slow ring insider preview) using WSL2 and it works perfectly with all cores.

[2020-01-14 01:23] cjlarose commented on #143
I created a project that reliably reproduces out-of-memory errors when using `terser-webpack-plugin` 2.3.2: https://github.com/cjlarose/terser-webpack-plugin-out-of-memory

I proposed a fix in #206.

[2020-01-15 13:10] sokra commented on #104
@filipesilva cool that you did that. One have to use a non-minimized terser version to see anything. I looked at the profile, but didn't see anything obvious.

* `TreeWalker.push/pop/has_directive` could be optimized. A prototype chain has O(n) lookup cost. Also seems like directives are already tracked during parsing, so my guess is that this doesn't really have to be tracked again during walking

[2020-01-15 14:46] fabiosantoscode commented on #104
The reason for MAP and MAP.splice is that some transformations can return multiple statements or expressions. Otherwise array.map() would be great.

Regarding DEFMETHOD, I do agree with you.

For the other points I'll have a look at each and see what can be done.

However this still doesn't fix the memory usage, just CPU usage. An interesting exercise would be to call Babel or acorn on the unminif

[2020-01-15 23:28] sokra commented on #104
Oh yes you are right, missed the `push.apply` here. Maybe Splice can be replaced by returning a plain array instead of the Splice class indirection.

[2020-01-17 12:44] fabiosantoscode commented on #104
True @sokra. Probably `Array.isArray()` can help here.

[2020-01-23 18:07] evilebottnawi commented on #182
Fixed for webpack@5, for webpack@4 we can't fix it due we don't have options for `cachable` for control permissions.

[2020-01-23 18:07] #182 closed

[2020-01-27 12:53] evilebottnawi commented on #143
I think I was able to solve this problem, big thanks @cjlarose for inspiration and great idea, honestly I don’t know how I didn’t get to this decision before. Now I run tests to put them here, I think today we  release patch version and close that problem.

I want to warn that this reduces consumption, but for real big projects, for example 2000+ entries you need increase node memory usage

[2020-01-28 12:36] #143 closed

[2020-01-28 12:36] evilebottnawi commented on #143
Release will be today, evening, want to add more tests (increase coverage)

[2020-01-28 12:40] evilebottnawi commented on #104
@filipesilva today i will release a new version of terser plugin, it is reduce memory usage around 80-90% for big projects, small projects also have memory improving (now we don't create unnecessary workers when files is less than CPU cores + concurrences when files more than workers)

[2020-01-28 13:58] filipesilva commented on #104
@evilebottnawi awesome, thanks for letting me know! Once a release is out I can re-run the benchmarks.

[2020-01-28 14:17] evilebottnawi commented on #202
Can you try https://github.com/webpack-contrib/terser-webpack-plugin/releases/tag/v2.3.3? If problem still exists i will reopen the problem, thanks

[2020-01-30 13:00] hinok commented on #202
@evilebottnawi I upgraded in my project to `v2.3.3` but still had the same problem. Setting explicitly `parallel: 2` resolved the issue.

[2020-01-30 13:12] evilebottnawi commented on #202
Can you provide minimum reproducible test repo and information about environment - config file for CircleCI

[2020-01-30 13:48] filipesilva commented on #104
@evilebottnawi tried the same project as before, but had to use more recent user code and dependencies, and I also ran it on my machine instead of on CI. The numbers in this comment shouldn't be compared with my earlier comment.

This project produces around 50 chunks, with around five big ones (~1MB) and the rest are small ones (~50KB).

With `terser-webpack-plugin@2.3.2` I saw these numbers:
[co

[2020-01-30 13:59] evilebottnawi commented on #104
Thanks for information, I investigate that in near future, maybe we should improve memory consuming not only in terser plugin :smile:

[2020-01-30 17:25] cjlarose commented on #104
@filipesilva The measurements that you're reporting are consistent with what I'd expect for upgrading from 2.3.2 to 2.3.3. The memory improvements made in 2.3.3 (specifically #211), reduce the total required maximum heap size because it takes a portion of the code that would allocate and retain large amounts of memory and instead makes it so that we avoid new allocations until necessary (when a wo

[2020-01-30 19:33] filipesilva commented on #104
@cjlarose yeah I didn't think the 2.3.3 changes would affect the problem this issue was opened to address. If I understood the changes in 2.3.3 correctly, they help reduce the `terser-webpack-plugin` overhead when organizing code to be ran by terser. But the "run terser once per chunk" strategy didn't change.

This part of what you said is not really obvious to me:

I don't think that's accurate,

[2020-01-30 20:23] hinok commented on #202
I cannot publish the code 😞The app that I'm talking about is quite large (+/- 4k files, 600+ react components, I don't count any external dependencies here).

While building, we compile server and client bundle with `npm-run-all`.

Job's resource: `2CPU/4096MB`

<img width="930" alt="Zrzut ekranu 2020-01-30 o 21 17 42" src="https://user-images.githubusercontent.com/1313605/73486734-fe19f400-43a5-1

[2020-01-31 10:38] evilebottnawi commented on #202
Thanks for information, what is result of `os.cpus()` and `lscpu`?

[2020-01-31 11:42] hinok commented on #202
[code]

[code]

[code]

[2020-01-31 11:50] evilebottnawi commented on #202
Looks CircleCI doesn't provide real count if CPUs, here the request for improvement https://ideas.circleci.com/ideas/CCI-I-264

[2020-01-31 11:53] evilebottnawi commented on #202
Unfortunately, we have no way to get the real value of available :disappointed: Your solution seems to be the only one right at the moment

[2020-01-31 11:59] hinok commented on #202
👍 It'd be good to document that issue in the docs as a short explanation for `parallel` option.

Basically the trick with `parallel` came from @cjlarose https://github.com/webpack-contrib/terser-webpack-plugin/issues/143#issuecomment-573954013

Thanks for confirming that it's good way to resolve that.

[2020-01-31 12:04] evilebottnawi commented on #202
@hinok Yes, will be great to documented that, I will do in near future, but you can be a champion :smile:

[2020-01-31 12:46] #202 closed

[2020-02-07 08:38] theshashiverma opened #217 ""92% chunk asset optimization TerserPlugin" reactjs"
- Operating System: ubuntu 18.04
- Node Version:12.13.1
- NPM Version:6.12.1
- webpack Version: 4
- terser-webpack-plugin Version: 2.3.2

### Expected Behavior

When I am running npm start, compilation takes a little pause at 92%, basically, the full message is "92% chunk asset optimization TerserPlugin" and after 8-10 seconds it shows the final result

### Actual Behavior

### Code
module.exports

[2020-02-07 10:18] evilebottnawi commented on #217
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Please fill

You can create reproducible test repo, without additional information we can't help, sorry

[2020-02-07 10:18] #217 closed

[2020-02-07 10:19] evilebottnawi commented on #217
Because uglification require time, it is not the fast action.

[2020-02-13 21:47] katywings opened #218 "extractComments banner gets applied after webpack BannerPlugin"
- Operating System: Reactos
- Node Version: 12.15.0
- NPM Version: 6.13.4
- webpack Version: 4.41.6
- terser-webpack-plugin Version: 2.3.4

### Expected Behavior / Situation
extractComments prepends its banner before webpack BannerPlugin

### Actual Behavior / Situation
extractComments prepends its banner after webpack BannerPlugin (at the very start of the file)

Background: I use the BannerPlugi

[2020-02-14 13:32] evilebottnawi commented on #218
I don't think using `BannerPlugin` for adding ash anchors is good idea, anyway let's fix it

[2020-02-14 15:51] #218 closed

[2020-02-14 18:46] katywings commented on #218
@evilebottnawi Insane 😁, thanks a lot! Any way to donate you a beer or milkshake or something?

[2020-02-18 14:23] evilebottnawi commented on #218
@katywings Yes, all my work paid from open collective https://opencollective.com/webpack, thanks

[2020-02-20 12:45] jpreynat opened #221 "Huge caching performance regression between 2.2.x and 2.3.x"
- Operating System: macOS Catalina
- Node Version: 10.15.3
- NPM Version: yarn 1.22.0
- webpack Version: 5.0.0-beta.13
- terser-webpack-plugin Version: 2.3.5

### Expected Behavior

Caching should not have degraded perfs with webpack 5.

### Actual Behavior

There seems to be a huge regression since v2.3.0 and using the webpack 5 filesystem cache.
Using the exact same config on our project and mea

[2020-02-20 12:56] evilebottnawi commented on #221
I don't think we can solve this here, the cache API on webpack side. Can you create reproducible test repo with same structure and size? Don't forget terser that problem can be on terser side too. Can you try v2.3.2?

[2020-02-21 12:31] jsnajdr commented on #202
This bug has been haunting us for some time in the https://github.com/automattic/wp-calypso project, so I did a deep dive trying to find the root cause.

And I figured out that the CircleCI container where the build runs is running out of memory, so the Linux kernel will select a "bad" process and kill it with `SIGKILL` (Read [here](https://www.kernel.org/doc/gorman/html/understand/understand016.h

[2020-02-21 12:36] evilebottnawi commented on #202
@jsnajdr thanks for feedback, can you open an issue in jest repo?

[2020-02-24 13:30] jpreynat commented on #221
@evilebottnawi I didn't have the time to make a reproducible case using a testing repo.
However I tested using v2.3.2 and I've got the same order of magnitude than when using 2.3.5, the `TaskRunner` execution time being `398808.464ms`.

I was also running on the latest version of `terser` during both sets of tests.

[2020-02-24 17:38] mems commented on #221
I've got a similar issue with a very large project.
The memory usage goes very high (v2.3.x take memory × 3 of v2.2.x) and node stop with this error :

[code]

I use Windows, Node.js v13.6.0 and webpack 5.0.0-beta.13

[2020-02-25 11:17] evilebottnawi commented on #221
@jpreynat Sorry, without reproducible test repo hard to help, can you provide:
- Full configuration
- Number of entries (will be great to have number of modules, average)
- Size of input/output

Otherwise I can't help

[2020-02-28 20:58] pietro-develcode opened #222 "Bug when compile webpack 3"
- Operating System: Linux
- Node Version: v12.14.1
- NPM Version: 6.13.4
- webpack Version: 3.11.0
- terser-webpack-plugin Version: terser-webpack-plugin-legacy

I'm using webpack v3.11 and the docs of terser legacy says to use:

`optimization: {
    minimizer: [new TerserPlugin()],
  }`

But the docs of webpack says optimization were implemented since version 4.0 , so i tried and two ways to buil

[2020-03-02 09:51] evilebottnawi commented on #222
Please update webpack to 4 version, we stop support webpack@3 and `terser-webpack-plugin-legacy`

[2020-03-02 09:51] #222 closed

[2020-03-03 11:51] andreialecu opened #223 "2.3.3: Call retries were exceeded / ng build --prod / angular 9.0.4"
- Operating System: WSL Ubuntu
- Node Version: 13.7.0
- NPM Version: 6.13.6 (but using yarn 1.22.0)
- webpack Version: 4.41.2 (as per angular 9)
- terser-webpack-plugin Version: 2.3.3

### Expected Behavior

Shouldn't error out.

### Actual Behavior

[code]

This is a vanilla angular 9.0.4 installation and I'm simply running `ng build --prod` on a fairly complex and big angular project.

I've noti

[2020-03-03 12:05] andreialecu commented on #223
Apparently restarting and/or giving the WSL Ubuntu VM 10 GB of RAM made the error go away. It was assigned 6GB prior.

This seems pretty worrying as far as memory usage goes. The error might be caused by this:

https://github.com/webpack-contrib/terser-webpack-plugin/issues/202#issuecomment-589634287

Closing.

[2020-03-03 12:05] #223 closed

[2020-03-11 13:31] casyalex commented on #187
@evilebottnawi

Hi, I met the same issue. and i create the test repo.

[test repo](https://github.com/casyalex/tersor-issue)

[2020-03-11 13:41] evilebottnawi commented on #187
@casyalex please remove `uglifyjs-webpack-plugin` and migrate on `terser-webpack-plugin@2`

[2020-03-11 15:32] casyalex commented on #187
@ evilebottnawi
I commit upgrade terser-webpack-plugin to v2.3.5 at test repo, still no luck.  And I downgrade to v1.1.0, it works..

[2020-03-11 15:54] casyalex commented on #187
It happens when >=v1.4.0.

1.4.0 (2019-07-31)
Features
generate higher quality SourceMaps (#109) (9d777f0)

[2020-03-11 16:03] evilebottnawi commented on #187
I will look at that tomorrow, thanks for the issue

[2020-03-17 16:06] midnight-wonderer opened #226 "Please update cacache to address CVE-2020-7598"
Please update the `cacache` package which currently depends on old `minimist` version.
More info: https://nvd.nist.gov/vuln/detail/CVE-2020-7598

[2020-03-17 16:14] evilebottnawi commented on #226
Sorry we can't do it, because it is breaking change, please open a issue in `mkdirp` repo, we can't fix it on our side

[2020-03-17 16:14] #226 closed

[2020-03-17 16:22] midnight-wonderer commented on #226
`mkdirp` fixed theirs but they bumped the version
`cacache` also fixed theirs and also bumped the version

I think they have no interest in maintaining old versions, the most possible link to get rid of the vulnerability is this package.

[2020-03-17 16:28] midnight-wonderer commented on #226
I think if it really requires breaking changes, you should at least leave the issue open.
So when a major version bump occurred, people will see the issue.

[2020-03-17 16:34] evilebottnawi commented on #226
`mkdirp` should backport security fix to previously versions, there are a lot of dependencies uses old `mkdirp` with security problems and we can't do something here, we always update deps before major release, so unnecessary keep it open

[2020-03-30 05:26] jrwpatterson commented on #187
@evilebottnawi an solutions to this? I have the same issue..

[2020-03-30 05:30] Zamiell opened #227 "[n/t]"
[snip] mistaken issue

[2020-03-30 05:34] #227 closed

[2020-03-30 05:59] casyalex commented on #187
My solution is use old version.

[2020-04-16 11:07] bsivanov commented on #58
We have the same problem, and I am looking into [this](https://github.com/zkat/cacache/issues/122#issuecomment-401900514):

Is this something we can try here?

[2020-04-21 18:32] bugfixman opened #229 "How to prevent the creation of a LICENSE.txt file?"
Hello! I don't want the LICENSE.txt file to be created after compilation. Can i prevent this? The banner parameter with the value "false" didn't solve this problem.

Sorry. My english is not good enough. I hope that you understood me.

[2020-04-22 02:27] zeroarst commented on #202
We are having exactly the same issue and cannot figure out. Thanks for clarifying what is going on there...

[2020-04-22 10:46] evilebottnawi commented on #229
Please use stackoverflow or gitter for future questions.

https://github.com/webpack-contrib/terser-webpack-plugin#remove-comments

[2020-04-22 10:46] #229 closed

[2020-04-22 13:35] bugfixman commented on #229
This settings not prevent creates a file. Because i was created an issue. I was read documentation before ask a question. On stackoverflow i could get examples from documentation only. How do you think stackoverflow will help me, If an example from documentation not gives a result?

[2020-04-22 15:37] evilebottnawi commented on #229
Please create minimum reproducible test repo

[2020-04-25 00:27] jerrodrs commented on #21
Upgraded my terser plugin from 1.3.5 to 2.3.5 and the issue is resolved, can use parallel now.

[2020-04-29 12:34] jackiewillen opened #232 "transfer special character generate error"
- Operating System: MacOs
- Node Version:10.15.3
- NPM Version:6.4.1
- webpack Version:4.41.4
- terser-webpack-plugin Version:1.4.1

### Expected Behavior
var region = {"\u0014":1, "\u0015": 2, "\u0016": ["\u001a", "\u001b"]};

been transfer to
var region = {"\\u0014":1, "\\u0015": 2, "\\u0016": ["\\u001a", "\\u001b"]};

### Actual Behavior
sometimes,It will be tranfer to
var region = {"<0x14>":1,

[2020-04-29 12:49] evilebottnawi commented on #232
Can you create reproducible test repo?

there is no magic

[2020-04-30 13:54] james-ingold commented on #229
@bugfixman make sure you have both comment: false and extractComments: false. I tested and this set-up does prevent the file from being created.

[2020-04-30 13:56] evilebottnawi commented on #229
Example - https://github.com/webpack-contrib/terser-webpack-plugin#remove-comments

[2020-04-30 14:00] evilebottnawi commented on #221
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

I cannot investigate a performance problem without an example problem. Also, I do not see problems from other developers, no :+1: , no same problem, nothing.

Feel free to open a new issue with reproducible test repo.

[2020-04-30 14:00] #221 closed

[2020-04-30 14:10] evilebottnawi commented on #232
/cc @fabiosantoscode fixed in `4.6.13` (https://github.com/terser/terser/blob/master/CHANGELOG.md#v4613)?

[2020-04-30 14:16] evilebottnawi commented on #232
Yep, it is terser problem https://github.com/terser/terser/issues/678, should be fixed in `4.16.13`, feel free to leave feedback

[2020-04-30 14:16] #232 closed

[2020-04-30 14:38] fabiosantoscode commented on #232
That release is out in a few seconds.

[2020-05-02 10:17] jens-duttke opened #241 "Output files are not written and Node process doesn't end after updating to v3.0.0"
I've just updated from v2.3.6 to v3.0.0, and now the production-build process doesn't end and the files are not written to the output folder.
That means it simply stops at the end, without to end the webpack/Node process.
I'm also using the BundleAnalyzerPlugin, which correctly show the expected files, but they are simply not there.
There is no error message shown in the build process.

- Operatin

[2020-05-03 13:54] leosingleton commented on #241
I'm seeing the same issue when upgrading my project from v2.3.6 to v3.0.0 also.

Narrowing down my complex build configuration, I think it may be some sort of parallelism issue. Any time I have a webpack project with multiple configuration objects, it consistently hangs for me since upgrading to v3.0.0. Here's a simple repro environment:
https://github.com/leosingleton/terser-webpack-plugin-hang

[2020-05-04 06:29] phaistonian opened #242 "Cannot read property sourceAndMap of undefined"
`Cannot read property 'sourceAndMap' of undefined`

This has started since 3.0.0.

`terser-webpack-plugin/dist/index.js:176:47)`

ps: sorry for not proving much more context.

[2020-05-04 15:04] BiscuiTech commented on #242
This has happened to me as well. I'm using it in a next.js app with the following config:
[code]

[2020-05-06 11:14] evilebottnawi commented on #242
Somebody can create minimum reproducible test repo?

[2020-05-06 12:26] evilebottnawi commented on #242
In fact, I know a potential fix, but I do not want to apply it because I would like to see what is the real reason, in order to prevent such regressions in the future

[2020-05-06 12:41] evilebottnawi commented on #241
Very weird problem, I am investigating

[2020-05-06 12:56] evilebottnawi commented on #241
Found

[2020-05-06 13:27] #241 closed

[2020-05-06 13:36] evilebottnawi commented on #242
It is happens, when you use plugin/tool for run multi compilation in parallel, WIP

[2020-05-06 13:50] #242 closed

[2020-05-06 18:20] BiscuiTech commented on #242
I can confirm the latest version fixes the issue - only if I switch experimental.modern to false.

[2020-05-07 03:27] jackiewillen commented on #232
@evilebottnawi @fabiosantoscode

[2020-05-07 10:36] evilebottnawi commented on #232
@jackiewillen if you still have an issue, please open a new issue in terser repo, thanks

[2020-05-07 10:49] evilebottnawi commented on #242
@BiscuiTech What is `experimental.modern`?

[2020-05-11 03:29] fwh1990 opened #248 "About min node version support"
[code]

It happened since you update dep `cacache` to version `15.0.3`, because `move-file` is a dependency of cacache

[2020-05-11 03:39] fwh1990 commented on #248
The changelog say the min node version is `10.13.0`，so I guess this is a bug

[2020-05-12 10:59] evilebottnawi commented on #248
Yep, unfortunately this is a transitive dependency and we can't fix it, package works on 10.13, just with warning about experimental feature - `fs.promises`

[2020-05-12 12:16] fwh1990 commented on #248
https://github.com/npm/cacache/issues/37

[2020-05-13 15:57] amifor-wordschatz commented on #187
@evilebottnawi,
I have the same problem - there is no sourcesContent field in sourcemap. Although, if I specify  in your function minify (minify.js), as it was before
"terserOptions.sourceMap = {
       content: inputSourceMap,
  }; " everything works well.
Maybe this problem can be solved by adding plugin's initialization parameter, depending on the value of which initialize terserOptions.sourceM

[2020-05-14 01:55] fwh1990 commented on #248
It's considered as an error and new deps can't be installed. I have to downgrade to `3.0.0`

[2020-05-14 12:17] evilebottnawi commented on #248
@fwh1990 just update node@10 to latest version, it is always recommended to use latest version

[2020-05-15 08:04] Finesse commented on #242
Still an issue in 3.0.1:

[code]

[2020-05-15 08:18] Finesse commented on #242
@evilebottnawi Still an issue in v3.0.1 with Webpack v4.43.0:

[code]

<details>
<summary>My setup (a part of)</summary>

[code]

[code]

</details>

[2020-05-15 10:17] evilebottnawi commented on #242
@Finesse Can you open a new issue with reproducible test repo?

[2020-05-15 15:29] ccambournac opened #249 "error move-file@2.0.0: The engine "node" is incompatible with this module. Expected version ">=10.17". Got "10.16.2""
- Operating System: Mac OS 10.15.4 Catalina
- Node version: 10.16.2
- Yarn version: 1.22.4
- webpack version: 4.43.0
- terser-webpack-plugin version: 3.0.1

### Actual Behavior
As stated in release notes for v3.0.0

Due to `move-file`package dependency however, il appears that minimum Node.js version is 10.17, and installation via yarn fails with the following error being raised:
[code]

### How D

[2020-05-15 15:34] ccambournac commented on #249
My bad, duplicate of #248...

[2020-05-15 15:35] ccambournac commented on #248
Not so easy on our CI servers...

[2020-05-15 16:11] #249 closed

[2020-05-15 16:13] evilebottnawi commented on #248
Guys from `npm` teams always were very slow and often ignored problems,

[2020-05-18 07:57] ccambournac commented on #248
Hi @evilebottnawi, what do you mean?

[2020-05-18 10:43] evilebottnawi commented on #248
@ccambournac `cacache` develop by npm team

[2020-05-18 16:34] KeionneDerousselle commented on #242
I am also experiencing the same issue as @Finesse. I have turned on the parallel flag as well and it didn't help.

[2020-05-19 11:12] evilebottnawi commented on #242
Please open a new issue with reproducible test repo

[2020-05-27 02:44] zhaovbo opened #252 "Map type cannot be optimized properly"
- Operating System: macos 10.15.4
- Node Version: v12.6.3
- NPM Version:
- webpack Version: 4.23.0
- terser-webpack-plugin Version: 3.0.1

terser will optimize new Map () to new Map, causing the program to not run normally.
like this: for(var t=new Map,

[2020-05-27 10:38] evilebottnawi commented on #252
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

If you think terser break your JS, please open a new issue in terser repo https://github.com/terser/terser

[2020-05-27 10:38] #252 closed

[2020-05-29 11:08] ayxos opened #254 "wget https://registry.npmjs.org/terser-webpack-plugin returns 403"
- Operating System: Debian 4.19.67-2+deb10u2 (2019-11-11) x86_64 GNU/Linux
- Node Version: -
- NPM Version: -
- webpack Version: -
- terser-webpack-plugin Version: 2.3.6

### Expected Behavior
not 403

### Actual Behavior
[code]
Maybe our server has been blacklisted?

### How Do We Reproduce?
On package.json we want:
`    "terser-webpack-plugin": "^2.3.6",`

[code]

[2020-05-29 12:07] evilebottnawi commented on #254
Please contact with `npm` for support

[2020-05-29 12:07] #254 closed

[2020-05-29 12:24] Boulet- commented on #254
➡️ https://github.com/npm/cli/issues/1358

[2020-06-02 01:14] dargmuesli opened #255 "Arbitrary Code Injection In "serialize-javascript""
https://app.snyk.io/vuln/SNYK-JS-SERIALIZEJAVASCRIPT-570062

[2020-06-02 08:49] ccambournac commented on #248
@evilebottnawi
It seems like using yarn resolutions to force the use of `move-file@1.2.0` allows latest `terser-webpack-plugin` to work with Node.js 10.16.2.

[2020-06-02 11:59] evilebottnawi commented on #248
@ccambournac I think it is time say `npm` team in twittier something...

[2020-06-02 12:33] ccambournac commented on #248
Should I laugh? :)

[2020-06-02 12:40] evilebottnawi commented on #248
@ccambournac Yep :smile:

[2020-06-02 12:40] ccambournac commented on #248
Sorry, I did not understand! 😄

[2020-06-02 12:45] evilebottnawi commented on #248
@ccambournac I meant that post via twitter to npm command will probably move this point from a dead spot

[2020-06-02 12:47] ccambournac commented on #248
@evilebottnawi I don't really feel like twitting to `npm` team... :)

[2020-06-02 16:11] levani132 opened #256 "Having nameCache controls"
- Operating System: Windows
- Node Version: 13.5.0
- NPM Version: 6.13.4
- webpack Version: 4.41.2
- terser-webpack-plugin Version: 3.0.2

### Feature Proposal

What about adding nameCache option? I haven't used it before, but as documentation suggests we should be able to tell terser to use js object (or it would be more correct to call it dictionary) to map names (as I guess variables, classes,

[2020-06-02 16:32] evilebottnawi commented on #256
You can't use `parallel` in this case

[2020-06-03 06:30] fwh1990 commented on #248
@evilebottnawi
It seems `cacache@15.0.4` have fixed this problem by this commit: https://github.com/npm/cacache/commit/bf88af04e50cca9b54041151139ffc1fd415e2dc

[2020-06-03 07:17] levani132 commented on #256
Yeah, but maybe for someone `parallel` is more useful, but for me this will be huge benefit. I mean will it be problem to make this possible without affecting everything else? Just add a little, simple option please.

[2020-06-03 10:27] evilebottnawi commented on #248
Will patch do release tomorrow

[2020-06-03 11:09] evilebottnawi commented on #256
@levani132 Yes, it is possible to implement, but you should do choose `parallel` or `nameCache`. Agree it can be useful for small applications.

[2020-06-03 11:26] levani132 commented on #256
Yes, we won't be able to use both. Though I hope in my desired build flow this won't cause too much performance issues. My project has like 30 modules and I will be able to build them independently, so basically, if the build time becomes 12 times slower with my 12 threads pc, it will become 30 times faster to build separate modules.

By the way I haven't yet tested it but I have my own fork in my

[2020-06-03 11:30] evilebottnawi commented on #256
@levani132 Yes, feel free to send a PR

[2020-06-03 12:34] evilebottnawi commented on #255
Fixed https://github.com/webpack-contrib/terser-webpack-plugin/releases/tag/v3.0.3

[2020-06-03 12:34] #255 closed

[2020-06-04 16:45] #18 closed, assigned to nobody

[2020-06-04 16:46] evilebottnawi commented on #18
Want to clarify, here 2 problems:
- We don't update `contenthash` after build (SOLVED)
- Calculate `contenthash` after file generation (should be solved on webpack size)

[2020-06-05 10:22] ccambournac commented on #248
@evilebottnawi Everything now works as expected with the new release, thank you!

[2020-06-08 02:31] fwh1990 commented on #248
Maybe `jest-worker` is facing the same problem:
[code]

Shouldn't it be in `devDependencies`

[2020-06-08 04:28] zhaovbo opened #260 "Map object cannot be optimized properly"
- Operating System:Mac OS 13.1 or Centos 7.0
- Node Version:v12.3.1
- NPM Version:v6.14.4
- webpack Version:v4.23.0
- terser-webpack-plugin Version:v2.3.6

terser will always modify the code new Map() to new Map, remove the two brackets, causing the program to go wrong

[2020-06-08 13:26] evilebottnawi commented on #260
Please open an issue in terser repo, we just wrapper for `terser`

[2020-06-08 13:26] #260 closed

[2020-06-08 13:30] evilebottnawi commented on #248
Oh, we still have a problem for `jest-worker`

/cc @SimenB It is possible to reduce `node >= 10.13.0` for `jest-worker`?

[2020-06-08 15:20] SimenB commented on #248
Yeah, probably. We have that version as a minimum in Jest since it includes https://github.com/nodejs/node/pull/23206. That doesn't matter for `jest-worker` though, as it doesn't use the `vm` APIs, it's just easiest to use the same `engines` version for all packages. Can make an exception for `jest-worker` tho 👍

[2020-06-08 15:29] evilebottnawi commented on #248
@SimenB Big thanks! Let's open an issue

[2020-06-08 15:33] evilebottnawi commented on #248
Done https://github.com/facebook/jest/issues/10142

[2020-06-09 02:19] fwh1990 commented on #248
I suggest author append `10.13.0` to `matrix.node-version` in file `.github/workflows/nodejs.yml`, so that you can catch errors automatically before users upgrade it.

[2020-06-12 03:14] failedUser opened #261 "Didn't get the result sesame I expected"
my code
`  CbkLog.prototype.initPvDot = function (isRepeat) {
          if (!('IntersectionObserver' in window &&
               'IntersectionObserverEntry' in window &&
               'intersectionRatio' in window.IntersectionObserverEntry.prototype)) {
               require('intersection-observer');
          }
          CbkLog.prototype.isRepeat = !!isRepeat;
     }`

after terser

`s.prototyp

[2020-06-12 10:12] nitinkumar8553 opened #262 "^ 2.3.5/3.0.0: Call retries were exceeded"
Operating System:  macOS
Node Version: 10.17.0
NPM Version: 6.11.3
webpack Version: 4.43.0
terser-webpack-plugin Version: 2.3.7.

**Expected Behavior**
Shouldn't error out.

**Actual Behavior/ Error**
[code]

**ERROR in js/app.js from Terser
Error: Call retries were exceeded
    at ChildProcessWorker.initialize (/repo/node_modules/jest-worker/build/workers/ChildProcessWorker.js:191:21)
    at Chil

[2020-06-12 12:32] evilebottnawi commented on #261
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Update `terser-webpack-plugin` to latest version, if you still have a problem please open a new issue in `terser` rep

[2020-06-12 12:32] #261 closed

[2020-06-12 12:45] evilebottnawi commented on #262
Can't help without `### How Do We Reproduce?` section, sorry

[2020-06-12 12:49] evilebottnawi commented on #262
Just note:

[code]

Looks problem on `terser` side, but without reproducible test repo I can't say it and help with the problem

[2020-06-12 14:56] nitinkumar8553 commented on #262
@evilebottnawi you could have waited for my response before closing it. :(

Saw your note, I'm working on a private repo. can't use it for reproducible, if you need i can show my Webpack config & script.

[2020-06-12 15:03] evilebottnawi commented on #262
I close them so that they do not accumulate, it’s very difficult to solve problems when you cannot reproduce them, but this does not mean that I do not solve them. A lot of developers just create issues and do not response.

Yep, I will wait

[2020-06-12 15:16] nitinkumar8553 commented on #262
We've just started with this project so, less of config for now.

this is the base config.
[code]
prod config```

/* eslint-disable */
const webpack = require('webpack');
const merge = require('webpack-merge');
const MiniCssExtractPlugin = require('mini-css-extract-plugin');
const { BundleAnalyzerPlugin } = require('webpack-bundle-analyzer');
const baseConfig = require('./base.config');

// This p

[2020-06-12 15:20] nitinkumar8553 commented on #262
NPM script.
"start": "cross-env NODE_ENV=production node public/server/index.js",
"build": "npm run clean && npm run build:server && npm run build:client",
"build:server": "babel src -d public --copy-files",
"build:client": "webpack --config=webpack/prod.config.js",

[2020-06-13 13:55] evilebottnawi commented on #262
Can you create reproducible test repo, hard to use code from comments + I can't reproducible using your configurations

[2020-06-14 07:39] nitinkumar8553 commented on #262
let me see if I can create a minimal reproducible test repo.

[2020-06-15 15:23] evilebottnawi commented on #242
Please update `terser-webpack-plugin` to `3.0.5` (https://github.com/webpack-contrib/terser-webpack-plugin/releases/tag/v3.0.5), it should help with `Cannot read property 'source' of undefined` and `Cannot read property 'sourceAndMap' of undefined`

[2020-06-30 08:15] nashaofu opened #266 "Error: write EPIPE"
- Operating System: Linux 3.10 Alpine Linux
- Node Version: 12.13.0
- NPM Version: 6.12.0
- webpack Version: 4.43.0
- terser-webpack-plugin Version: 3.0.6

### Expected Behavior

Do not expect to report an error

### Actual Behavior

![6FBE44BF-0499-4f8d-9D42-4A71390928A7](https://user-images.githubusercontent.com/19303058/86100873-00ff4900-baec-11ea-86b1-fea0c0f71976.png)

![image](https://user-i

[2020-06-30 11:07] evilebottnawi commented on #266
Problem with CirecleCI, it is described here https://github.com/webpack-contrib/terser-webpack-plugin#parallel, won't fix due incorrect behavior on CirecleCI